body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff; }

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color: black;
}

.sec1-top{
    color: #EC6B4B;
    font-size: xx-large;
    font-weight: 800;
}

.tsen_img{
    height: 90px;
    width: 90px;
}

.asen_img{
    height: 90px;
    width: 110px;
}

.sen_img{
    height: 100px;
    width: 100px;
}

.sec1-fl{
    font-weight: 300;
    font-size: medium;
}

.logo-img{
    height: 100px;
    width: 100px;
}

.pr-head{
    font-size: xx-large;
}

@media (max-width:768px) {
    a:link, a:visited, a:hover, a:active{
        font-size: medium;
        font-weight: 700;
    }

    .sec1-top{
        font-size: larger;
        font-weight: 800;
    }
    
    .tsen_img{
        height: 70px;
        width: 70px;
    }
    
    .asen_img{
        height: 70px;
        width: 90px;
    }
    
    .sen_img{
        height: 70px;
        width: 70px;
    }

    .sec1-fl{
        font-weight: 100;
        font-size: xx-small;
    }

    .logo-img{
        height: 70px;
        width: 70px;
    }

    .pr-head{
        font-size: medium;
    }
}

