{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UPS status</title>

  <!-- Font Awesome Icons -->
  <!-- <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> -->
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.34.10/js/jquery.tablesorter.min.js"></script>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- AdminLTE -->
  <script src="{% static 'js/adminlte.js' %}"></script>
  <!------CanvasJS for Chart-------------->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- ChartJS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script> -->
  <!-- OPTIONAL SCRIPTS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'demo/dist/js/demo.js' %}"></script>
  <script src="{% static 'demo/dist/js/pages/dashboard3.js' %}"></script> -->
  <!-- AdminLTE for demo purposes -->
  <!-- <script src="{% static 'demo/dist/js/demo.js' %}"></script> -->
  <!-- REQUIRED SCRIPTS -->
  <script src="{% static 'js/ckeditor.js' %}"></script>

  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
  <script src="/jquery.js"></script>
  <script src="/build/jquery.datetimepicker.full.min.js"></script>

  <script> 

    function refreshPage() {
      window.location.reload();
    }

    document.addEventListener('DOMContentLoaded', function () {
      const mapIcon = document.getElementById('map-icon');
      const mapContainer = document.getElementById('map-container');

      mapIcon.addEventListener('click', function () {
        // Toggle visibility of the map container
        if (mapContainer.style.display === 'none') {
          mapContainer.style.display = 'block';
        } else {
          mapContainer.style.display = 'none';
        }
      });
    });

  </script>

<style>
  p {
    color : rgb(255, 255, 255);
    text-align: center;
    background-color: #07255b;
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
}

#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

    * {
  box-sizing: border-box;
}
  .grid {
      display: flex;
      flex-flow: row wrap;
      padding: 0.75vw;
    }

  .grid .item {
      min-height: 20vh;
      margin: 0.75vw;
    }

    .grid .item {
    position: relative;
    padding: 1vw;
    background-position:  left bottom;
    background-size: 100% 100%;
    transition: background 500ms, outline 500ms;
    background-position: top left;
    outline: transparent;
  }

  .grid .item:nth-child(1)  { grid-area: big1; }
  .grid .item:nth-child(2)  { grid-area: big2; }

  .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }
 

  select {
    display: block;
    border:solid 2px gray;
    border-radius: 5px;
}
.border-box {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px; /* Add padding for spacing inside the bordered box */
    margin-bottom: 10px; /* Add margin to separate the boxes */
    height: 150px; 
    background-color: rgba(204, 204, 204, 0.473);
}
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    font-size: 24px; 
  }

  #loading-overlay img {
    width: 200px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
  }
</style>

</head>
<body style="font-family: 'Times New Roman', Times, serif;" onload="zzz()">
  <div id="loading-overlay">
  <img src="{% static 'img/loaderdark.gif' %}" alt="Loading...">
   
  </div>

 <!-- <div id="row" style=" background-color: #064178; font-family: 'Times New Roman', Times, serif; font-size: 17px; display: flex; width:100%;padding-left: 2%;padding-right: 2%;padding-bottom: 2%;">
    <table id="alertpage"  style="width: 100%; background-image:linear-gradient(#064178);overflow: auto; margin-left: auto;
    margin-right: auto" class = "table table-bordered "> -->

  <div class="card-body table-responsive" style="border: 1px solid #93adad;font-family: 'Times New Roman', Times, serif;background-color: #07255b;font-size: 17px">
        <div id="row" style="margin: 0 ; line-height: 20px;padding-top:1%;  width: 100%;">
    <!-- <div class="col-xl-6" style="float: center;padding: 4%;width: 100%"> -->
            <div class="card" style="width: 100%;">
                <div class="card-header" id="cardheader">
                <span style="float:center;font-size: 20px;color:rgb(199, 3, 3); font-family: 'Times New Roman', Times, serif;"><b> Alert History</b></span>
            </div>
            <form method="post" style="background:#FFFFFF;">
              {% csrf_token %}
                <div class="card-body" style="border: #8e9ebb;">
                    <div class="row">
                        <div class="col-md-4">
                          <div class="border-box">
                            <label class="form-label">Select UPS </label>
                            <select class="form-select w-100 mb-3" id="upsSelect" name="upsSelect">
                                <option value="UPS-101">UPS-101</option>
                                <option value="UPS-201">UPS-201</option>
                                <option value="UPS-301">UPS-301</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="border-box">
                            <label class="form-label">Select Alerts</label>
                            <select multiple class="form-select w-100 mb-3" id="alertSelect" name="alertSelect">
                                <option value="utility_no_failure">Utility Fail</option>
                                <option value="battery_not_low">Battery low</option>
                                <option value="bypass_inactive">Bypass/Boost or Buck Active</option>
                                <option value="ups_no_failure">UPS Failed</option>
                                <option value="ups_online">UPS Type is standby</option>
                                <option value="no_test">Test in Progress</option>
                                <option value="shutdown_inactive">Shutdown Active</option>
                                <option value="beeper_on">Beeper On</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="border-box">
                            <label for="datetimes" class="form-label">Select Date & Time Range</label>
                            <input type="text" name="datetimes" id="datetimes" style="padding:1px; border-radius: 5px; margin: 2px;width:100%;border: 1px solid #2f0c3e;" value="{{dt}}"; />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <input id="button" class="btn btn-primary" type="submit" value="Filter" style="background-color: #188495;" onclick="applyFilter()">
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>

  
        <div class="card-body table-responsive" style="border: 1px solid white;">
          <table id="example1" class="table table-hover" style="background-color: white;">
            <thead>
                    <tr>
                        <th data-orderable="true">Alert Type</th>
                        <th data-orderable="true">Date & Time</th>
                        <th>Alert Status</th>
                    </tr>
                </thead>
                <tbody>
                  {% for entry in data %}
                  <tr>
                      <td>{{ entry.alerttype }}</td>
                      <td>{{ entry.datetime }}</td>
                      <td>{{ entry.alertstatus }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
  </div>


    
  <script>
    $(function () {
      setTimeout(function() {
        window.location.href = "/Gateway/login_auth/?next=/Gateway/";
    }, 15*60*1000);
  })
  $(document).ready(function() {
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
        "pageLength": 10
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });

    $("#alertpagecss").DataTable({
        "responsive": true,
        "autoWidth": false,
        "pageLength": 10
      });

    $(function () {
      $('input[name="datetimes"]').daterangepicker({
      showDropdowns: false,
      timePicker: true,
      timePicker24Hour: true,
      startDate: moment().subtract(1, 'days'),
      endDate: moment(),
      showTimezone: true,
      locale: {
      format: 'Y MMM DD'
      }
      }
      );
    }
    )

      // flatpickr("#dateTimePicker", {
      //         enableTime: true,
      //         dateFormat: "Y-m-d H:i",
      //     });
          
  function applyFilter() {
      const datetimesInput = document.getElementById('datetimes');
      const dateRange = datetimesInput.value;
      const selectedAlerts = Array.from(document.getElementById('alertSelect').selectedOptions, option => option.value);

      // Now you can use the selected date range for your filtering logic
      console.log('Selected Date Range:', dateRange);
      // selectedAlerts.textContent = "Selected Value: " + selectedValue;
      console.log(selectedAlerts)
  }

   
$(document).ready(function() {
        $('#alertpagecss').tablesorter();
    });

  jQuery(document).ready(function ($) {

  $('#checkbox').change(function(){
    setInterval(function () {
        moveRight();
    }, 3000);
  });

  var slideCount = $('#slider ul li').length;
  var slideWidth = $('#slider ul li').width();
  var slideHeight = $('#slider ul li').height();
  var sliderUlWidth = slideCount * slideWidth;

  $('#slider').css({ width: slideWidth, height: slideHeight });

  $('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

  $('#slider ul li:last-child').prependTo('#slider ul');

  
  function moveLeft() {
      $('#slider ul').animate({
          left: + slideWidth
      }, 200, function () {
          $('#slider ul li:last-child').prependTo('#slider ul');
          $('#slider ul').css('left', '');
      });
  };

  function moveRight() {
      $('#slider ul').animate({
          left: - slideWidth
      }, 200, function () {
          $('#slider ul li:first-child').appendTo('#slider ul');
          $('#slider ul').css('left', '');
      });
  };
 

  function toggleSidebar() {
  var sidebar = document.querySelector(".sidebar");
  sidebar.classList.toggle("active");
}
  $('a.control_prev').click(function () {
      moveLeft();
  });

  $('a.control_next').click(function () {
      moveRight();
  });

});    


(function($){
  
  $(document).ready(function(){
    // Pause hero carousel
    $('.hero-carousel').carousel('pause');
  });
  
})(jQuery);

// const alertNameToColumn = {
//             alert1: 'utility_no_failure',
//             alert2: 'battery_not_low',
//             alert3: 'bypass_inactive',
//             alert4: 'ups_no_failure',
//             alert5: 'ups_online',
//             alert6: 'no_test',
//             alert7: 'shutdown_inactive',
//             alert8: 'beeper_on',
//         };

//         document.getElementById('alertForm').addEventListener('submit', function(event) {
//             event.preventDefault();
//             const formData = new FormData(this);
//             const selectedAlerts = formData.getAll('alerts');
//             const columnNames = selectedAlerts.map(alert => alertNameToColumn[alert]);
          
            
//         });

      function zzz() {
        // Disable clickable elements
        disableClickableElements();

        // Simulate a delay (replace this with your actual content loading logic)
        setTimeout(function () {
          // Enable clickable elements
          enableClickableElements();

          // Hide the loading overlay
          document.getElementById('loading-overlay').style.display = 'none';
        }, 2000); // Adjust the delay as needed
      }

      function disableClickableElements() {
        // Add logic to disable clickable elements (icons, buttons, etc.)
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'none';
        });
      }

      function enableClickableElements() {
        // Add logic to enable clickable elements
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'auto';
        });
      }


  </script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</body>

</html>
{% include 'footer.html' %}