{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CameraBased</title>
    <link rel="stylesheet" href="{%static 'css/sensors.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script> 
        $(function () {
          setTimeout(function() {
            window.location.href = "/Gateway/login_auth/?next=/Gateway/";
        }, 15*60*1000);
      
          $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example2").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example3").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });
        });
      </script>
</head>
<body class="bg-light">
    <section class="sec-head" style="background-color: antiquewhite;">
        <div class="container text-center my-auto mt-3 mb-3 font-weight-bold">
            <p class="p-head">Camera Based Machine Condition Monitoring</p>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item sen-d"><a href="{% url 'dev' %}">Home</a></li>
                            <li class="breadcrumb-item active sen-d" aria-current="page">CameraBased</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #e61f04;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="mb-5 pb-5">
        <div class="container justify-content-between text-center">
            <div class="row">
                <div class="col-12 sen-d">
                    <select name="" id="">
                        <option value="">Gateway1</option>
                        <option value="">Gateway2</option>  
                        <option value="">Gateway3</option>
                        <option value="">Gateway4</option>  
                        <option value="">Gateway5</option>
                        <option value="">Gateway6</option>                        
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <p class="sen-h">Location&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;SIDCO Industrial Estate</p>
            </div>
            <div class="row sen-h">
                <div class="col-lg-4">
                    <p>TRACKER&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;Gateway1</p>
                </div>
                <div class="col-lg-4">
                    <p>TYPE(AUTO/MANUAL)&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;Manual</p>
                </div>
                <div class="col-lg-4">
                    <p>LAST UPLOAD&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<span style="color: green;">4 minutes ago</span></p>
                </div>
            </div>
            <hr>
            <div class="row justify-content-around">
                <div class="col-md-5 mt-3 border">
                    <div class="row">
                        <div class="col-12">
                            <p class="sen-d">POSITION&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;Boiler Unit</p>
                        </div>
                        <div class="col-12">
                            <p class="sen-d">LAST CAPTURE&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<span style="color: green;">15 minutes ago</span></p>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <img class="cam-img" src="{% static 'img/CAM-01.jpg' %}"  alt="cam-01">
                    </div>
                </div>
                <div class="col-md-5 mt-3 border">
                    <div class="row">
                        <div class="col-12">
                            <p class="sen-d">POSITION&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;Motor Unit</p>
                        </div>
                        <div class="col-12">
                            <p class="sen-d">LAST CAPTURE&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<span style="color: green;">11 minutes ago</span></p>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <img class="cam-img" src="{% static 'img/CAM-04.jpg' %}"  alt="cam-02">
                    </div>
                </div>
                <div class="col-md-5 mt-3 border">
                    <div class="row">
                        <div class="col-12">
                            <p class="sen-d">POSITION&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;Pipeline Unit</p>
                        </div>
                        <div class="col-12">
                            <p class="sen-d">LAST CAPTURE&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<span style="color: green;">8 minutes ago</span></p>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <img class="cam-img" src="{% static 'img/CAM-03.jpg' %}"  alt="cam-03">
                    </div>
                </div>
                <div class="col-md-5 mt-3 border">
                    <div class="row">
                        <div class="col-12">
                            <p class="sen-d">POSITION&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;Shaft Unit</p>
                        </div>
                        <div class="col-12">
                            <p class="sen-d">LAST CAPTURE&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<span style="color: green;">4 minutes ago</span></p>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <img class="cam-img" src="{% static 'img/CAM-02.jpg' %}"  alt="cam-04">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}  
   
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>