{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAN</title>

    <link rel="stylesheet" href="{%static 'css/sensors.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script> 
        $(function () {
          setTimeout(function() {
            window.location.href = "/Gateway/login_auth/?next=/Gateway/";
        }, 15*60*1000);
      
          $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });
        });
      </script>
</head>
<body class="bg-light">
    <section class="sec-head" style="background-color: antiquewhite;">
        <div class="container text-center my-auto mt-3 mb-3 font-weight-bold">
            <p class="p-head">CONTROL AREA NETWORK</p>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item sen-d"><a href="{% url 'dev' %}">Home</a></li>
                            <li class="breadcrumb-item active sen-d" aria-current="page">CAN</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #e61f04;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row m-4">
                <div class="col-12">
                    <table id="example1" class="table table-hover table-border text-center">
                        <thead>
                            <th class="sen-h" colspan="6">EV BIKE</th>    
                            <tr class="sen-h">    
                                <th>VEHICLE SPEED(KM/HR)</th>
                                <th>BATTERY STATUS(CHARGING / DISCHARGING)</th>
                                <th>BATTERY LEVEL(%)</th>
                                <th>DISTANCE TRAVELED SINCE VEHICLE  STARTED</th>
                                <th>AIR PRESSURE(PSI)</th> 
                                <th>MOTOR TEMPERATURE(°C)</th>
                            </tr>                      
                        </thead>
                        <tbody>
                            <tr class="sen-d">
                                <td>60</td>
                                <td>DISCHARGING</td>
                                <td>75</td>
                                <td>15</td>                            
                                <td>100</td>
                                <td>55</td>
                            </tr>
                            <tr class="sen-d">
                                <td>80</td>
                                <td>CHARGING</td>
                                <td>66</td>
                                <td>34</td>                            
                                <td>100</td>
                                <td>83</td>
                            </tr>
                            <tr class="sen-d">
                                <td>45</td>
                                <td>DISCHARGING</td>
                                <td>43</td>
                                <td>73</td>                            
                                <td>100</td>
                                <td>46</td>
                            </tr>
                            <tr class="sen-d">
                                <td>56</td>
                                <td>DISCHARGING</td>
                                <td>50</td>
                                <td>68</td>                            
                                <td>100</td>
                                <td>59</td>
                            </tr>
                            <tr class="sen-d">
                                <td>66</td>
                                <td>CHARGING</td>
                                <td>96</td>
                                <td>37</td>                            
                                <td>100</td>
                                <td>86</td>
                            </tr>
                            <tr class="sen-d">
                                <td>90</td>
                                <td>CHARGING</td>
                                <td>48</td>
                                <td>67</td>                            
                                <td>100</td>
                                <td>49</td>
                            </tr>
                            <tr class="sen-d">
                                <td>94</td>
                                <td>DISCHARGING</td>
                                <td>32</td>
                                <td>20</td>                            
                                <td>86</td>
                                <td>66</td>
                            </tr>
                            <tr class="sen-d">
                                <td>36</td>
                                <td>CHARGING</td>
                                <td>64</td>
                                <td>29</td>                            
                                <td>94</td>
                                <td>73</td>
                            </tr>
                        </tbody>                    
                    </table>
                </div>
            </div>
        </div>
    </section> 

    {% include 'footer.html' %}  
   
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>