{% load static %}

<!DOCTYPE html>
<html lang="en">

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>coldstorage</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!-- Font Awesome Icons -->
  <!-- <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> -->
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">
  <!-- AdminLTE -->
  <script src="{% static 'js/adminlte.js' %}"></script>
  <!------CanvasJS for Chart-------------->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- ChartJS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script> -->
  <!-- OPTIONAL SCRIPTS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'js/demo.js' %}"></script>
  <script src="{% static 'js/pages/dashboard3.js' %}"></script> -->
  <!-- AdminLTE for demo purposes -->
  <!-- <script src="{% static 'js/demo.js' %}"></script> -->
  <!-- REQUIRED SCRIPTS -->
  <script src="{% static 'js/ckeditor.js' %}"></script>

  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script>
        $(function () {
      setTimeout(function() {
        window.location.href = "/Gateway/login_auth/?next=/Gateway/";
    }, 15*60*1000);
    
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
      "pageLength" : 5,
      "lengthChange": false, // Disable "Show entries"
      "searching": false    // Disable "Search" field
    });
  
    });
    function refreshPage() {
        location.reload(); // Reloads the current page
    }

    function redirectToPage(selectedValue) {
        if (selectedValue) {
            window.location.href = selectedValue;
        }
    }
        
    </script>
    <style>
      #loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8); 
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; 
        font-size: 24px; 
      }
    
      #loading-overlay img {
        width: 200px; /* Adjust the size as needed */
        height: 150px; /* Adjust the size as needed */
      }
    
      p {
        color : rgb(255, 255, 255);
        text-align: center;
        background-color: rgb(48, 152, 184);
        font-style:normal;
        font-family: 'Times New Roman', Times, serif;
        font-size: xx-large;
        font-variant: small-caps;
      }
    
      .grid {
          display: flex;
          flex-flow: row wrap;
          padding: 0.75vw;
        }
    
      .grid .item {
        min-height: 20vh;
        margin: 0.75vw;
      }
    
      .grid .item {
      position: relative;
      padding: 1vw;
      background-position:  left bottom;
      background-size: 100% 100%;
      transition: background 500ms, outline 500ms;
      background-position: top left;
      outline: transparent;
      }
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
        gap: 0; /* Gap between columns */
      }
    
      /* Style the individual columns */
      .grid-item {
        background-color: #f2f2f2;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
        font-size: 14px; /* Adjust the font size here */
        line-height: 1px; /* Adjust the line height here */
        height: 2px; /* Adjust the height here */
      }
    
      .grid .item:nth-child(1)  { grid-area: big1; }
      .grid .item:nth-child(2)  { grid-area: big2; }
    
      .box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      }
    
      .amb-h{
        font-size: larger;
      }
    
      .amb-d{
        font-size: large;
      }
    
      .p-but{
        font-size:small;
      }
    
      @media(max-width:768px){
        .amb-h{
          font-size: large;
        }
        .amb-d{
          font-size: medium;
        }
        p{
          font-size: x-large;
        }
        
        .p-but{
          font-size:x-small;
        }
      }
    
      @media(max-width:576px){
        .amb-h{
          font-size: small;
        }
        .amb-d{
          font-size: small;
        }
        p{
          font-size: larger;
        }
        .p-but{
          font-size:xx-small;
        }
      }
    
    </style>
  </head>
  <body onload="zzz()">
    <div id="loading-overlay">
      <img src="{% static 'img/loaderdark.gif' %}" alt="Loading...">
    </div>
    <div class="content-header">
      <p>Cold Storage
        <button onclick="refreshPage()" class="mt-sm-2 mt-xs-1 mr-3 p-but" style="float:right;background-color: #fafbfc; font-style: italic;box-sizing: inherit; font-family: Arial, Helvetica, sans-serif;"><li class="fa fa-refresh"></li></button>
      </p>
      <ol class="breadcrumb" style="float:right">
        <li class="breadcrumb-item"><a href="{% url 'dev' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cold' %}">Trackers</a></li>
        <li class="breadcrumb-item active" style="color: teal;">Sensors</li>
      </ol> 
      <div class="select-container">
        <label for="pageSelect">Select Storage:</label>
          <select id="pageSelect" onchange="redirectToPage(this.value)">
              <option value=" ">Select</option>
              <option value=" {% url 'sensor' tracker='TRACCS001' %}">TRACCS001</option>
              <option value=" {% url 'sensor' tracker='TRACCS002' %}">TRACCS002</option>
              <option value=" {% url 'sensor' tracker='TRACCS003' %}">TRACCS003</option>
              <option value=" {% url 'sensor' tracker='TRACCS004' %}">TRACCS004</option>
          </select>  
      </div>   
    </div>
    <br>
    <!-- <div id="row" style="padding-left: 2%;padding-right: 2%;padding-bottom: 2%; align-items: center; "> -->
        <!-- <table style="width: 100%; background-image:linear-gradient(#ffffff, #ffffff, #ffffff);" id="example1" class="table"> -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered table-hover">
              <thead>
                <div class="amb-h mb-4" style="display: block;color : rgb(43, 81, 159); text-align: center; font-family: Arial, Helvetica, sans-serif;">STORAGE: {{temp.tracker}}</div>
                  <tr align="center" class="amb-h">
                    <th>Location</th>
                    <th>Temperature</th>
                    <th>Gauge</th>
                  </tr>
                </thead>
                <tbody align="center" class="amb-d">
                  <tr>
                    <td>Freezer Zone 1 - Top</td>
                    <td>{{temp.temp.0}}</td>
                    <td>{{plot1.plot1|safe}}</div></td>
                  </tr>
                  <tr>
                    <td>Freezer Zone 1 - Bottom</td>
                    <td>{{temp.temp.1}}</td>
                    <td>{{plot2.plot2|safe}}</td>
                  </tr>
                  <tr>
                    <td>Chill Zone 2 - Top</td>
                    <td>{{temp.temp.2}}</td>
                    <td>{{plot3.plot3|safe}}</td>
                  </tr>
                  <tr>
                    <td>Chill Zone 2 - Bottom</td>
                    <td>{{temp.temp.3}}</td>
                    <td>{{plot4.plot4|safe}}</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-12">
            <img src="{% static 'img/imagetemperature.png' %}">
          </div>
        </div>
      </div>
    </section>
    <script>
      function zzz() {
      // Disable clickable elements
      disableClickableElements();

      // Simulate a delay (replace this with your actual content loading logic)
      setTimeout(function () {
        // Enable clickable elements
        enableClickableElements();

        // Hide the loading overlay
        document.getElementById('loading-overlay').style.display = 'none';
      }, 2000); // Adjust the delay as needed
      }

      function disableClickableElements() {
        // Add logic to disable clickable elements (icons, buttons, etc.)
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'none';
        });
      }

      function enableClickableElements() {
        // Add logic to enable clickable elements
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'auto';
        });
      }
    </script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>
</body>

</html>
{% include 'footer.html' %}