{% load static %}
<html>
  <head>
    <style>
    .bottom-section {
     position: fixed;
      bottom: 0;
      /* margin-bottom: 0px; */
      width: 100%;
      padding: 0px;
  
    }
    @media (max-width: 768px){
    a:link, a:visited, a:hover, a:active {
    font-size: small;
    font-weight: 300;
    }
    }
    </style>
  </head>
  <body>
    <div class="bottom-section"> 
      <!-- Main Footer -->
      <footer class="main-footer" style="background-color: #000000; color: white; font-size: small; width: 100%; margin: 0; bottom: 0;" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8" style="text-align: left;">
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> ,&nbsp; All Rights Reserved 
            </div>
            <div class="col-lg-4" style="text-align: right;">
              <a href="https://jivass.com/" style="color: white;" target="_blank">Brought to you by Gyrfalcon Intelliedge Solutions&nbsp;&nbsp;<img height="30" src="{% static 'img/gfr.jpg' %}"></a><br>
            </div>
          </div>
        </div>
      </footer>
    </div>
  <!-- ./wrapper -->
  </body>
  </html>