{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development</title>

    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="bg-light">
    <section>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 sec1-top d-inline">
                    <img src="{% static 'img/gfr.jpg' %}" class="logo-img">
                    <span class="pr-head">GYRFALCON INTELLIEDGE SOLUTIONS</span>
                </div>                
            </div>
        </div>
    </section>
    <br>
    <section class="n-l">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #e61f04;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-2 mb-5">
        <div class="container border border-4">
            <div class="row text-center">
                <div class="col-12 sec1-top">
                    GYRFALCON<span class="sec1-fl align-top">TM</span>IoT Road Map
                </div>                
            </div>
            <div class="row text-center justify-content-center pt-5">
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{% static 'img/vehicle.png' %}" alt="vehicle" class="tsen_img">
                    <p class="mt-3"><a href="{% url 'amb' %}">VEHICLE TRACKING SYSTEM</a></p>
                    <p class="text-muted">It utilizes GPS technology to monitor and manage the real-time location and activities of vehicles, offering asset tracking solutions.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{% static 'img/heavy.png' %}" alt="mac" class="tsen_img">
                    <p class="mt-3"><a href="{% url 'mac' %}">HEAVY MACHINERY MONITORING</a></p>
                    <p class="text-muted">It tracks and records working hours of machine, ensuring efficient management and maintenance for optimal operational performance.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{% static 'img/ups.png' %}" alt="ups" class="tsen_img">
                    <p class="mt-3"><a href="{% url 'ups' %}">UPS MONITORING</a></p>
                    <p class="text-muted">UPS monitoring ensures uninterrupted power supply by real-time tracking and analysis of Uninterruptible Power Supply systems.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{% static 'img/cold.png' %}" alt="cold" class="tsen_img">
                    <p class="mt-3"><a href="{% url 'cold' %}">COLD STORAGE</a></p>
                    <p class="text-muted">It is a programmable mechanical device designed to manipulate objects or perform tasks with precision, often used in manufacturing, automation, and various industries.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{% static 'img/obd.png' %}" alt="OBD" class="tsen_img">
                    <p class="mt-3"><a href="{% url 'obd' %}">ON BOARD DIAGNOSTICS</a></p>
                    <p class="text-muted">It is a vehicle's self-monitoring system that detects and reports potential malfunctions, aiding in efficient troubleshooting and maintenance.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{% static 'img/can.png' %}" alt="CAN" class="tsen_img">
                    <p class="mt-3"><a href="{% url 'can' %}">CONTROL AREA NETWORK</a></p>
                    <p class="text-muted">It is a communication protocol widely used in vehicles and industrial applications for real-time data exchange between electronic control units.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{% static 'img/robot-arm.png' %}" alt="ROBOTIC ARM" class="tsen_img">
                    <p class="mt-3"><a href="{% url 'robotarm' %}">ROBOTIC ARM</a></p>
                    <p class="text-muted">It is a programmable mechanical device designed to manipulate objects or perform tasks with precision, often used in manufacturing, automation, and various industries.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{% static 'img/smart-motor.png' %}" alt="SMART MOTOR" class="tsen_img">
                    <p class="mt-3"><a href="{% url 'smartmotor' %}">SMART MOTOR</a></p>
                    <p class="text-muted">Intelligent motor incorporating advanced features like sensor integration, data processing, and adaptive control, enhancing efficiency and performance in various applications.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{% static 'img/smart-value.png' %}" alt="SMART VALUE" class="tsen_img">
                    <p class="mt-3"><a href="{% url 'smartvalue' %}">SMART VALVE</a></p>
                    <p class="text-muted">Dynamic and adaptive parameter or measurement, responsive to changing conditions or inputs, often integrated with technology for real-time monitoring and optimization.</p>
                </div>   
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{% static 'img/camera.png' %}" alt="CAMERA INTERFACING" class="sen_img">
                    <p class="mt-3"><a href="{% url 'camera' %}">CAMERA BASED MONITORING</a></p>
                    <p class="text-muted">Enhancing surveillance and data collection through innovative camera-based monitoring solutions.</p>
                </div>           
            </div>
        </div>
    </section>
    {% include 'footer.html' %}  
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
