{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UPS MONITORING</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!-- Font Awesome Icons -->
  <!-- <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> -->
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">
  <!-- AdminLTE -->
  <script src="{% static 'js/adminlte.js' %}"></script>
  <!------CanvasJS for Chart-------------->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- ChartJS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script> -->
  <!-- OPTIONAL SCRIPTS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'demo/dist/js/demo.js' %}"></script>
  <script src="{% static 'demo/dist/js/pages/dashboard3.js' %}"></script> -->
  <!-- AdminLTE for demo purposes -->
  <!-- <script src="{% static 'demo/dist/js/demo.js' %}"></script> -->
  <!-- REQUIRED SCRIPTS -->
  <script src="{% static 'js/ckeditor.js' %}"></script>

  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


  <script> 
    $(function () {
      setTimeout(function() {
        window.location.href = "/Gateway/login_auth/?next=/Gateway/";
    }, 15*60*1000);
  
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
        "pageLength": 10,        
      });

    });

    function refreshPage() {
      window.location.reload();
    }

    document.addEventListener('DOMContentLoaded', function () {
      const mapIcon = document.getElementById('map-icon');
      const mapContainer = document.getElementById('map-container');

      mapIcon.addEventListener('click', function () {
        // Toggle visibility of the map container
        if (mapContainer.style.display === 'none') {
          mapContainer.style.display = 'block';
        } else {
          mapContainer.style.display = 'none';
        }
      });
    });

  </script>

  <style>
    #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* make sure it's on top of other elements */
    font-size: 24px; /* adjust as needed */
  }

  #loading-overlay img {
    width: 200px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
  }
    
    p {
      color: rgb(255, 255, 255);
      text-align: center;
      background-color: #07255b;
      font-style: normal;
      font-family: 'Times New Roman', Times, serif;
      font-size: xx-large;
      font-variant: small-caps;
    }

    #top,
    #bottom,
    #left,
    #right {
      background: #a5ebff;
      position: fixed;
    }

    #left,
    #right {
      top: 0;
      bottom: 0;
      width: 15px;
    }

    #left {
      left: 0;
    }

    #right {
      right: 0;
    }

    #top,
    #bottom {
      left: 0;
      right: 0;
      height: 15px;
    }

    #top {
      top: 0;
    }

    #bottom {
      bottom: 0;
    }

    * {
      box-sizing: border-box;
    }



    .grid {
      display: flex;
      flex-flow: row wrap;
      padding: 0.75vw;
    }

    .grid .item {
      min-height: 20vh;
      margin: 0.75vw;
    }

    .grid .item {
      position: relative;
      padding: 1vw;
      background-position: left bottom;
      background-size: 100% 100%;
      transition: background 500ms, outline 500ms;
      background-position: top left;
      outline: transparent;
    }

    .grid .item:nth-child(1) {
      grid-area: big1;
    }

    .grid .item:nth-child(2) {
      grid-area: big2;
    }

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    #slider {
      position: relative;
      overflow: hidden;
      margin: 20px auto 0 auto;
      border-radius: 4px;
      max-width: 90%;
    }

    #slider ul {
      position: relative;
      margin: 0;
      padding: 0;
      height: 200px;
      list-style: none;
    }

    #slider ul li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 50%;
      height: 300px;
      background: #ccc;
      text-align: center;
      line-height: 300px;
    }

    a.control_prev,
    a.control_next {
      position: absolute;
      top: 40%;
      z-index: 999;
      display: block;
      padding: 4% 3%;
      width: auto;
      height: auto;
      background: #2a2a2a;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
      opacity: 0.8;
      cursor: pointer;
    }

    a.control_prev:hover,
    a.control_next:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease;
    }

    a.control_prev {
      border-radius: 0 2px 2px 0;
    }

    a.control_next {
      right: 0;
      border-radius: 2px 0 0 2px;
    }

    .slider_option {
      position: relative;
      margin: 10px auto;
      width: 140px;
      font-size: 18px;
    }

    /* Style the menu toggle button */
    .menu-toggle {
      background-color: #333;
      color: #fff;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
    }

    .menu-toggle i {
      font-size: 20px;
    }

    /* Style the sidebar */
    .sidebar {
      background-color: #333;
      color: #fff;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      overflow-x: hidden;
      transition: 0.3s;
    }

    .sidebar-menu li {
      padding: 7px;
    }

    .sidebar-menu {
      list-style-type: none;
      padding: 0;
      align-items: first baseline;
      box-sizing: content-box;
    }

    .sidebar-menu a {
      color: white;
      text-decoration: none;
      display: left;
      align-items: first baseline;
    }

    .sidebar-menu a i {
      margin-right: 3px;
    }

    .tab-container {
      display: flex;
      flex-direction: column;
      width: 40px;
    }

    .breadcrumb-item+.breadcrumb-item::before {
      display: inline-block;
      padding-right: 0.5rem;
      color: #6c757d;
      content: "";
    }

    .red-text {
      color: red;
    }

    .green-text {
      color: green;
    }

    @media screen and (max-width: 600px) {

      /* body{
    font-size: 10px !important;
    } */
      table th {
        font-size: 10px;
      }

      table tr {
        font-size: 10px;
      }
    }

    @media(max-width:768px){
    .amb-h{
      font-size: large;
    }
    .amb-d{
      font-size: medium;
    }
    p{
      font-size: x-large;
    }
    
    .p-but{
      font-size:x-small;
    }
  }

  @media(max-width:576px){
    .amb-h{
      font-size: small;
    }
    .amb-d{
      font-size: small;
    }
    p{
      font-size: larger;
    }
    .p-but{
      font-size:xx-small;
    }
  }
  </style>

</head>

<body onload="zzz()">
  <div id="loading-overlay">
    <img src="{% static "img/loaderdark.gif" %}" alt="Loading...">
  </div>
  <div class="card-body table-responsive"
    style="font-family: 'Times New Roman', Times, serif;background-color: white;font-size: 17px">
    <!-- Content Header (Page header) -->
    <div class="content-header" align="center">
      <p>UPS Gateway Status
        <!-- <button onclick="refreshPage()" style="float:right;margin-top: 10px; margin-right: 30px;background-color: #fafbfc; font-size:small;font-style: italic;box-sizing: inherit; font-family: 'Times New Roman', Times, serif;"><li class="fa fa-refresh"></li></button> -->
      </p>

      <ol class="breadcrumb" style="float:right">
        <li class="breadcrumb-item" style="font-family: 'Times New Roman', Times, serif;"><a href="{% url 'dev' %}">Home</a></li>
        <li class="breadcrumb-item active" style="color: teal;font-family: 'Times New Roman', Times, serif;">/ Ups</li>
      </ol>
    </div>
    <div id="row" style="display: flex; width:100%; padding-bottom: 8%;padding-left: 1%;">
      <div id="row"
        style="font-family: 'Times New Roman', Times, serif; font-size: 17px; display: flex; width:100%; padding-left: 1%; padding-bottom: 8%;">
        <!-- <div class="col-md-11"> -->
        <div id="row" style="margin:0%; line-height: 20px;padding-top:1%;  width: 100%;">
          <!-- <div class="col-xl-6" style="float: center;padding: 4%;width: 100%"> -->
          <div class="card" style="width: 100%;">
            <div class="card-header" id="cardheader">
              <span
                style="float:center;font-size: 20px;color:rgb(199, 3, 3); font-family: 'Times New Roman', Times, serif;"><b>
                  List of Gateway Devices</b></span>
            </div>
            <div class="card-body table-responsive" style="border: 1px solid #93adad;">
              <table id="example1" class="table table-hover">
                <thead align="center">
                  <tr>
                    <th>UPS ID</th>
                    <th data-orderable="false">Last Update from Gateway</th>
                    <th data-orderable="false">Last Update from UPS</th>
                    <th>Load</th>
                    <th>Alerts</th>
                    <th data-orderable="false">Details</th>
                  </tr>
                </thead>

                <tbody align="center">
                  <tr>
                    <td>UPS-101</td>
                    <!--<td style="color:orange;">{{folium.ts.0}}</td> -->
                    <!-- <td style="color:red;text-align: center;">{{last.last.0}}</td> -->
                    <td id="timeAgoCell">{{gsm.gsm.0}}</td>
                    <td id="timeAgoCell1">{{lt.lt.0}}</td>
                    <td>{{load.load.0}}%</td>
                    <td style="text-align: center;"><label class="alertstat" hidden>{{astat.astat.0}}</label>
                      <a href="{% url 'alerts_Status' upsid='UPS_101' %}" title="Alert Status">
                        <i class="fas fa-exclamation-triangle statusIcon"
                          style="cursor: pointer; font-size: 20px; margin-top: 0px;"></i>
                      </a>
                    </td>
                    <td style="text-align: center;">
                      <a href="{% url 'upsdetail' upsid='UPS_101' %}">
                        <i class="fas fa-solid fa-list"
                          style="cursor: pointer; font-size: 20px; margin-top: 0px; color: black"></i>
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td>UPS-201</td>
                    <!-- <td style="color:orange;">{{oxy.oxy.2.1}}</td> -->
                    <!-- <td style="color:orange;">{{folium.ts.2}}</td> -->
                    <!-- <td style="color:red;text-align: center;">{{last.last.1}}</td> -->
                    <td id="timeAgoCell">{{gsm.gsm.1}}</td>
                    <td id="timeAgoCell1">{{lt.lt.1}}</td>
                    <td>{{load.load.1}}%</td>
                    <td style="text-align: center;"><label class="alertstat" hidden>{{astat.astat.1}}</label>
                      <a href="{% url 'alerts_Status' upsid='UPS_201' %}" title="Alert Status">
                        <i class="fas fa-exclamation-triangle statusIcon"
                          style="cursor: pointer; font-size: 20px; margin-top: 0px;"></i>
                      </a>
                    </td>
                    <td style="text-align: center;">
                      <a href="{% url 'upsdetail' upsid='UPS_201' %}">
                        <i class="fas fa-solid fa-list"
                          style="cursor: pointer; font-size: 20px; margin-top: 0px; color: black"></i>
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td>UPS-301</td>
                    <!-- <td style="color:blue;">{{folium.ts.1}}</td> -->
                    <td id="timeAgoCell">{{gsm.gsm.2}}</td>
                    <td id="timeAgoCell1">{{lt.lt.2}}</td>
                    <td>{{load.load.2}}%</td>
                    <td style="text-align: center;"><label class="alertstat" hidden>{{astat.astat.2}}</label>
                      <a href="{% url 'alerts_Status' upsid='UPS_301' %}" title="Alert Status">
                        <i class="fas fa-exclamation-triangle statusIcon"
                          style="cursor: pointer; font-size: 20px; margin-top: 0px;"></i>
                      </a>
                    </td>
                    <td style="text-align: center;">
                      <a href="{% url 'upsdetail' upsid='UPS_301' %}">
                        <i class="fas fa-solid fa-list"
                          style="cursor: pointer; font-size: 20px; margin-top: 0px; color: black"></i>
                      </a>
                    </td>
                  </tr>


                </tbody>
              </table>
              <table style="border: hidden; line-height: 1.5;">
                <tr>
                  <td
                    style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size:15px;">
                    <b>Last Update from Gateway</b></td>
                  <td
                    style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size: small;">
                    <i class="fa fa-circle" style="font-size:12px;color:green"></i>
                    < 10 minute</td>
                  <td
                    style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size: small;">
                    <i class="fa fa-circle" style="font-size:12px;color:red"></i> > 10 minute</td>
                </tr>
                <tr>
                  <td
                    style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size:15px;">
                    <b>Last Update from UPS</b></td>
                  <td
                    style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size: small;">
                    <i class="fa fa-circle" style="font-size:12px;color:green"></i>
                    < 1 hour</td>
                  <td
                    style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size: small;">
                    <i class="fa fa-circle" style="font-size:12px;color:red"></i> > 1 hour</td>
                </tr>
                <tr>
                  <td
                    style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size:15px;">
                    <b>Alerts</b></td>
                  <td
                    style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size: small;">
                    <i class="fa fa-circle" style="font-size:12px;color:green"></i> No Active Alerts</td>
                  <td
                    style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size: small;">
                    <i class="fa fa-circle" style="font-size:12px;color:red"></i> Active Alerts</td>
                  <!-- <td style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size: small;"><i class="fa fa-circle" style="font-size:12px;color:gray"></i> Not Applicable</td>-->

                </tr>

              </table>
            </div>
            <!--Map container-->
            <!-- <div class="map-container" id="map-container" style="display: none;">
                <div class="col-xl-6" style="float: right;padding: 1%;">
                    <div class="card-body table-responsive" id="map"  style="max-width:100%;overflow: hidden;">     
                      {{folium.map|safe}}
                    </div>
                </div>
            </div> -->
          </div>
        </div>
        <!-- </div> -->
        <!-- <div class="col-md-1"> -->
        <div class="tab-container">
          <ul class="sidebar-menu">
            <li class="breadcrumb-item">
              <i class="fas fa-cog" onclick="OpenSettings()" style="color: #07255b;cursor: pointer;"
                data-toggle="tooltip" data-placement="top" title="Settings"></i>
            </li>
            <li class="breadcrumb-item" id="refresh-button">
              <i class="fas fa-sync" style="color: #07255b;cursor: pointer;" data-toggle="tooltip" data-placement="top"
                title="Refresh"></i>
            </li>
            <li class="breadcrumb-item" id="map-icon">
              <i class="fas fa-map-marker-alt" onclick="OpenMap()" style="color: #07255b;cursor: pointer;"
                data-toggle="tooltip" data-placement="top" title="Location"></i>
            </li>
            <li class="breadcrumb-item">
              <i class="fas fa-bell" onclick="OpenAlerts()" style="color: #07255b;cursor: pointer;"
                data-toggle="tooltip" data-placement="top" title="Alert History"></i>
            </li>
            <!-- <li class="breadcrumb-item">
              <a href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt" style="color: #07255b;cursor: pointer;" data-toggle="tooltip"
                  data-placement="top" title="LogOut"></i>
              </a>
            </li> -->
            <li class="breadcrumb-item">
                <i class="fas fa-clipboard" onclick="OpenSpecification()" style="color: #07255b;cursor: pointer;" data-toggle="tooltip"
                  data-placement="top" title="Specifications"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    zzz = function () {
      var element = document.getElementById("cs");
      element.style.color = '#FF6C60';

    }

    jQuery(document).ready(function ($) {

      $('#checkbox').change(function () {
        setInterval(function () {
          moveRight();
        }, 3000);
      });

      var slideCount = $('#slider ul li').length;
      var slideWidth = $('#slider ul li').width();
      var slideHeight = $('#slider ul li').height();
      var sliderUlWidth = slideCount * slideWidth;

      $('#slider').css({ width: slideWidth, height: slideHeight });

      $('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

      $('#slider ul li:last-child').prependTo('#slider ul');

      function moveLeft() {
        $('#slider ul').animate({
          left: + slideWidth
        }, 200, function () {
          $('#slider ul li:last-child').prependTo('#slider ul');
          $('#slider ul').css('left', '');
        });
      };

      function moveRight() {
        $('#slider ul').animate({
          left: - slideWidth
        }, 200, function () {
          $('#slider ul li:first-child').appendTo('#slider ul');
          $('#slider ul').css('left', '');
        });
      };

      const refreshButton = document.getElementById('refresh-button');

      // Add a click event listener to the button
      refreshButton.addEventListener('click', function () {
        // Refresh the page when the button is clicked
        location.reload();
      });


      // Get the link element by its ID
      // const openWindowLink = document.getElementById('open-window');

      // Get the URL from the data-url attribute


      // Add a click event listener to the link
      // openWindowLink.addEventListener('click', function(event) {
      // Prevent the default behavior of the link (to prevent navigation)
      // event.preventDefault();

      // Open a new window or tab with the URL
      // window.open(urlToOpen, '');
    });

    function toggleSidebar() {
      var sidebar = document.querySelector(".sidebar");
      sidebar.classList.toggle("active");
    }
    $('a.control_prev').click(function () {
      moveLeft();
    });

    $('a.control_next').click(function () {
      moveRight();
    });


    (function ($) {

      $(document).ready(function () {
        // Pause hero carousel
        $('.hero-carousel').carousel('pause');
      });
    })(jQuery);

    function OpenSettings() {
      urls = "{% url 'settings_page' %}"
      // location.href = urls
      mywindow = window.open(urls, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=1000px,height=900px");
    }
    function OpenSpecification() {
      urls = "{% url 'specification_page' %}"
      mywindow = window.open(urls, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=1000px,height=900px");
    }

    function OpenMap() {
      urls = "{% url 'live_map' %}"
      mywindow = window.open(urls, "_blank", "toolbar=yes,scrollbar=yes,resizable=yes,top=100,left=100,width=1000px,height=600px");
    }

    function OpenAlerts() {
      urls = "{% url 'alerts_page' %}"
      // location.href = urls
      mywindow = window.open(urls, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=1000px,height=900px");
    }

  </script>

  <script>
    function zzz() {
        // Disable clickable elements
        disableClickableElements();

        // Simulate a delay (replace this with your actual content loading logic)
        setTimeout(function () {
          // Enable clickable elements
          enableClickableElements();

          // Hide the loading overlay
          document.getElementById('loading-overlay').style.display = 'none';
        }, 2000); // Adjust the delay as needed
      }

      function disableClickableElements() {
        // Add logic to disable clickable elements (icons, buttons, etc.)
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'none';
        });
      }

      function enableClickableElements() {
        // Add logic to enable clickable elements
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'auto';
        });
      } 

    function updateGatewayTextColor() {
      var cells = document.querySelectorAll('#timeAgoCell');

      cells.forEach(function (cell) {
        // Extract the text content and parse it to get the time unit and value
        var text = cell.textContent.trim(); // Remove leading/trailing spaces
        var parts = text.split(' '); // Split the text by spaces
        var value = parseInt(parts[0]); // Parse the numeric value
        var unit = parts[1]; // Get the time unit (e.g., "minutes", "hours", "days", etc.)
        if (text === 'just now' || unit === 'seconds' || unit === 'minute') {
          cell.classList.add('green-text');
        } else {
          // Check the time unit and set the text color class accordingly
          if (unit === 'minutes' && !isNaN(value) && value <= 10) {
            cell.classList.add('green-text');
          } else {
            cell.classList.add('red-text');
          }
        }
      });
    }

    // Call the function to update cell text color when the DOM is ready
    document.addEventListener('DOMContentLoaded', updateGatewayTextColor);

    function updateUPSTextColor() {
      var cells1 = document.querySelectorAll('#timeAgoCell1');

      cells1.forEach(function (cell) {
        // Extract the text content and parse it to get the time unit and value
        var text1 = cell.textContent.trim(); // Remove leading/trailing spaces
        var parts1 = text1.split(' '); // Split the text by spaces
        var value1 = parseInt(parts1[0]); // Parse the numeric value
        var unit1 = parts1[1]; // Get the time unit (e.g., "minutes", "hours", "days", etc.)
        if (text1 === 'just now' || unit1 === 'seconds' || unit1 === 'minutes' || unit1 === 'minute') {
          cell.classList.add('green-text');
        } else {
          // Check the time unit and set the text color class accordingly
          if (unit1 === 'hours' && !isNaN(value1) && value1 <= 1) {
            cell.classList.add('green-text');
          } else {
            cell.classList.add('red-text');
          }
        }
      });
    }

    // Call the function to update cell text color when the DOM is ready
    document.addEventListener('DOMContentLoaded', updateUPSTextColor);

    function updateAlertTextColor() {
      var labels = document.querySelectorAll('.alertstat');
      var icons = document.querySelectorAll('.statusIcon');
      var anchors = document.querySelectorAll('a');

      labels.forEach(function (label, index) {
        var labelText = label.textContent.trim();

        if (labelText === '0') {
          icons[index].style.color = "green";
        } else if (labelText === '1') {
          icons[index].style.color = "red";
        } else if (labelText === 'None') {
          anchors[index].style.pointerEvents = "none";
          icons[index].style.color = "gray";
        }
      });
    }

    // Call the function to update cell text color when the DOM is ready
    document.addEventListener('DOMContentLoaded', updateAlertTextColor);
  </script>

  <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>
</body>

</html>
{% include 'footer.html' %}