{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VehicleStatus</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!-- Font Awesome Icons -->
  <!-- <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> -->
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">
  <!-- AdminLTE -->
  <script src="{% static 'js/adminlte.js' %}"></script>
  <!------CanvasJS for Chart-------------->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- ChartJS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script> -->
  <!-- OPTIONAL SCRIPTS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'js/demo.js' %}"></script>
  <script src="{% static 'js/pages/dashboard3.js' %}"></script> -->
  <!-- AdminLTE for demo purposes -->
  <!-- <script src="{% static 'js/demo.js' %}"></script> -->
  <!-- REQUIRED SCRIPTS -->
  <script src="{% static 'js/ckeditor.js' %}"></script>

  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script> 
    $(function () {
      setTimeout(function() {
        window.location.href = "/Gateway/login_auth/?next=/Gateway/";
    }, 15*60*1000);
  
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
        "pageLength": 10,        
      });

    });

    function refreshPage() {
      window.location.reload();
    }

    document.addEventListener('DOMContentLoaded', function () {
      const mapIcon = document.getElementById('map-icon');
      const mapContainer = document.getElementById('map-container');

      mapIcon.addEventListener('click', function () {
        // Toggle visibility of the map container
        if (mapContainer.style.display === 'none') {
          mapContainer.style.display = 'block';
        } else {
          mapContainer.style.display = 'none';
        }
      });
    });

  </script>

<style>
  #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    font-size: 24px; 
  }

  #loading-overlay img {
    width: 200px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
  }
  p {
    color : rgb(255, 255, 255);
    text-align: center;
    background-color: #003470;
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
  }

  .amb-h{
    font-size: larger;
  }

  .amb-d{
    font-size: large;
  }

  .p-but{
    font-size:small;
  }

  @media(max-width:768px){
    .amb-h{
      font-size: large;
    }
    .amb-d{
      font-size: medium;
    }
    p{
      font-size: x-large;
    }
    
    .p-but{
      font-size:x-small;
    }
  }

  @media(max-width:576px){
    .amb-h{
      font-size: small;
    }
    .amb-d{
      font-size: small;
    }
    p{
      font-size: larger;
    }
    .p-but{
      font-size:xx-small;
    }
  }
</style>

</head>
<body onload="zzz()">
<div id="loading-overlay">
  <img src="{% static 'img/loaderdark.gif' %}" alt="Loading...">
</div>
<div class="content-header" align="center">        
  <p>Vehicle Status Tracker 
    <button onclick="refreshPage()" class="mt-sm-2 mt-xs-1 mr-3 p-but" style="float:right;background-color: #fafbfc; font-style: italic;box-sizing: inherit; font-family: Arial, Helvetica, sans-serif;"><li class="fa fa-refresh"></li></button>
  </p>          
  <ol class="breadcrumb amb-d" style="float:right">
    <li class="breadcrumb-item"><a href="{% url 'dev' %}">Home</a></li>
    <li class="breadcrumb-item active" style="color: teal;">Ambulance</li>
  </ol> 
</div>
             
  <!-- <div id="row" style="padding-left: 2%;padding-right: 2%;padding-bottom: 2%; align-items: center;"> -->
  <!-- <table style="width: 100%; background-image:linear-gradient(#ececec, #ffffff, #ececec);overflow: auto;" class="table table-bordered">
    <tr>
    <td> -->
      <!-- <div id="row" style="line-height: 30px;padding-top:1%; width: 100%;">
      <div class="col-xl-6" style="float: left;padding: 2%;">
      <div class="card" style="width: 100%;">
      <div class="card-header" id="cardheader">
      <span style="float:left;font-size: 20px;color:rgb(199, 3, 3); font-family: 'Times New Roman', Times, serif;"><b> Ambulance</b></span>
      </div>
      <div class="card-body table-responsive" style="border: 1px solid #93adad;"> -->
<section class="mt-3 mt-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
      <table id="example1" class="table table-hover table-bordered">
        <thead class="text-center">
          <tr>        
            <th class="amb-h">Vehicle Detail</th>
            <th class="amb-h" data-orderable="false">Last Update</th>
            <th class="amb-h">Oxygen Level</th>
            <th class="amb-h" data-orderable="false">Details</th>
          </tr>
        </thead>
        
        <tbody class="text-center">
        <!-- <tr> -->
        <!-- <td style="text-align: left;">EECO - OD 67 1029</td> -->
        <!--<td style="color:orange;">{{folium.ts.0}}</td> -->
        <!-- <td style="color:rgb(255, 0, 0);text-align: left;">3 hours ago</td>
        <td style="text-align: left; color:#e99f0b;">
          <div style="text-align: center;">
              <img src="{% static 'img/o2yellow.png' %}" alt="cyl" style="height: 40px; width: 20px;">
              <div style="display: inline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;64.1</div>
          </div>
      </td>
      <td style="text-align: center;">
          <a href="{% url 'viewlive' tracker='JIVMOT0005B0005' %}">
            <img src="{% static 'img\ambulance-icon-19.jpg' %}" alt="Ambulance" style="cursor: pointer; width: 35px; height: 35px;">
          </a>
      </td>
              
        </tr> -->

          <tr class="amb-d">
            <td>Bolero - xx xx xxxx</td>
            <!-- <td style="color:orange;">{{oxy.oxy.2.1}}</td> -->
            <!-- <td style="color:orange;">{{folium.ts.2}}</td> -->
            <td style="color:green;">{{folium.t_a.1}}</td>
            <td style="color:rgb(255, 0, 0);">
              <div>
                  <img src="{% static 'img/o2Red.png' %}" alt="cyl" style="height: 40px; width: 20px;">
                  <div style="display: inline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.9 %</div>
              </div>
            </td>
            <td>
                <a href="{% url 'viewlive' tracker='JIVMOT0003B0003' %}">
                  <img src="{% static 'img\ambulance-icon-19.jpg' %}" alt="Ambulance" style="cursor: pointer; width: 35px; height: 35px;">
                </a>
            </td>
          </tr>

          <tr class="amb-d">
            <td>Tavera - xx xx xxxx</td>
            <!-- <td style="color:blue;">{{folium.ts.1}}</td> -->
            <td style="color:green;">5 minutes ago</td>
            <td style="color: green;">
              <div>
                  <img src="{% static 'img/o2green.png' %}" alt="cyl" style="height: 40px; width: 20px;">
                  <div style="display: inline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;82.4 %</div>
              </div>
            </td>
            <td>
              <a href="{% url 'viewlive' tracker='JIVMOT0001B0001' %}">
                <img src="{% static 'img\ambulance-icon-19.jpg' %}" alt="Ambulance" style="cursor: pointer; width: 35px; height: 35px;">
              </a>
            </td>
          </tr>

        </tbody>         
      </table>  
      <!-- <table style="border: hidden; line-height: 1.5;">
        <tr>
          <td style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size:15px;"><b>Last Update</b></td>

          <td style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size: small;"><i class="fa fa-circle" style="font-size:12px;color:green"></i> < 15 mins</td>
          <td style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size: small;"><i class="fa fa-circle" style="font-size:12px;color:#e99f0b"></i> Between 15 mins & 1 hour</td>
          <td style="padding-right: 5px; padding-left:5px; padding-top: 5px; padding-bottom: 2px; border: hidden; font-size: small;"><i class="fa fa-circle" style="font-size:12px;color:rgb(2255,0, 0)"></i> > 1 hour</td>                     
        </tr>
      </table> 
      <table style="border: hidden; line-height: 1.5;">
        <tr>
          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size:15px;"><b>Oxygen Level</b></td>


          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size: small;"><i class="fa fa-circle" style="font-size:12px;color:#008000"></i> > 75%</td>
          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size: small;"><i class="fa fa-circle" style="font-size:12px;color:#e99f0b"></i> Between 25% & 75%</td>
          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size: small;"><i class="fa fa-circle" style="font-size:12px;color:rgb(255, 0, 0)"></i> < 25%</td>                     
        </tr>
      </table> -->
      </div>
    </div>
  </div>
</section>

<section class="mt-3">
  <div class="container border bg-dark">
    <div class="row text-center justify-content-center">
      <div class="col-md-2 amb-h"><b>Last Update</b></div>
      <div class="col-md-6">
        <div class="row amb-d">
          <div class="col-4"><i class="fa fa-circle" style="font-size:12px;color:green"></i>&nbsp;&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;15 mins&nbsp;&nbsp;&nbsp;</div>
          <div class="col-4"><i class="fa fa-circle" style="font-size:12px;color:#e99f0b"></i>&nbsp;&nbsp;&nbsp;&nbsp;Between&nbsp;&nbsp;15 mins & 1 hour&nbsp;&nbsp;&nbsp;</div>
          <div class="col-4"><i class="fa fa-circle" style="font-size:12px;color:rgb(2255,0, 0)"></i>&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 hour&nbsp;&nbsp;&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-md-2 amb-h"><b>Oxygen Level</b></div>
        <div class="col-md-6">
          <div class="row amb-d">
            <div class="col-4"><i class="fa fa-circle" style="font-size:12px;color:#008000"></i>&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;75%&nbsp;&nbsp;&nbsp;</div>
            <div class="col-4"><i class="fa fa-circle" style="font-size:12px;color:#e99f0b"></i>&nbsp;&nbsp;&nbsp;&nbsp;Between&nbsp;&nbsp;25% & 75%&nbsp;&nbsp;&nbsp;</div>
            <div class="col-4"><i class="fa fa-circle" style="font-size:12px;color:rgb(255, 0, 0)"></i>&nbsp;&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25%&nbsp;&nbsp;&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="mt-3 mt-lg-5 mb-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        {{folium.map|safe}}
      </div>
    </div>
  </div>
</section>
   
      <!-- </div>
      </div>
      </div> -->
    
      <!-- <div class="col-xl-6" style="float: right;padding: 1%;"> -->
        <!-- <div class="card-body table-responsive" id="map"  style="max-width:100%;overflow: hidden;">      -->
            
        <!-- </div> -->

        <!-- <div id="carouselExampleIndicators" class="carousel slide hero-carousel" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-image" style="background-image: url('{%static 'img/oxy-d.jpg' %}');"></div>
            </div>
            <div class="carousel-item">
              <div class="carousel-image" style="background-image: url('{%static 'img/amb-d.jpg' %}');"></div>
            </div>
            <div class="carousel-item">
              <div class="carousel-image" style="background-image: url('{%static 'img/cyl-d.jpeg' %}');"></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        </div>
        </div>
        </div> -->
        
      <!-- </div> 
    </div>
    </td>
    </tr>
  </table> -->
  <!-- </div> -->
  
              <!-- <li><img src="{%static 'img/oxy-d.jpg' %}" alt="cyl" style="height:100%; width: 100%;"></li>
              <li><img src="{%static 'img/cyl-d.jpeg' %}" alt="cyl" style="height:100%; width: 100%;"></li>
              <li><img src="{%static 'img/amb-d.jpg' %}" alt="cyl" style="height:100%; width: 100%;"></li>               -->
      
<script>
  jQuery(document).ready(function ($) {

  $('#checkbox').change(function(){
    setInterval(function () {
        moveRight();
    }, 3000);
  });

  var slideCount = $('#slider ul li').length;
  var slideWidth = $('#slider ul li').width();
  var slideHeight = $('#slider ul li').height();
  var sliderUlWidth = slideCount * slideWidth;

  $('#slider').css({ width: slideWidth, height: slideHeight });

  $('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

  $('#slider ul li:last-child').prependTo('#slider ul');

  function moveLeft() {
      $('#slider ul').animate({
          left: + slideWidth
      }, 200, function () {
          $('#slider ul li:last-child').prependTo('#slider ul');
          $('#slider ul').css('left', '');
      });
  };

  function moveRight() {
      $('#slider ul').animate({
          left: - slideWidth
      }, 200, function () {
          $('#slider ul li:first-child').appendTo('#slider ul');
          $('#slider ul').css('left', '');
      });
  };

  $('a.control_prev').click(function () {
      moveLeft();
  });

  $('a.control_next').click(function () {
      moveRight();
  });

});    

(function($){
  
  $(document).ready(function(){
    // Pause hero carousel
    $('.hero-carousel').carousel('pause');
  });
  
})(jQuery);

  function zzz() {
    // Disable clickable elements
    disableClickableElements();

    // Simulate a delay (replace this with your actual content loading logic)
    setTimeout(function () {
      // Enable clickable elements
      enableClickableElements();

      // Hide the loading overlay
      document.getElementById('loading-overlay').style.display = 'none';
    }, 2000); // Adjust the delay as needed
  }

  function disableClickableElements() {
    // Add logic to disable clickable elements (icons, buttons, etc.)
    var clickableElements = document.querySelectorAll('.clickable');
    clickableElements.forEach(function (element) {
      element.style.pointerEvents = 'none';
    });
  }

  function enableClickableElements() {
    // Add logic to enable clickable elements
    var clickableElements = document.querySelectorAll('.clickable');
    clickableElements.forEach(function (element) {
      element.style.pointerEvents = 'auto';
    });
  }

</script>

  <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>
</body>

</html>
{% include 'footer.html' %}