{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>coldstorage</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!-- Font Awesome Icons -->
  <!-- <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> -->
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">
  <!-- AdminLTE -->
  <script src="{% static 'js/adminlte.js' %}"></script>
  <!------CanvasJS for Chart-------------->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- ChartJS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script> -->
  <!-- OPTIONAL SCRIPTS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'js/demo.js' %}"></script>
  <script src="{% static 'js/pages/dashboard3.js' %}"></script> -->
  <!-- AdminLTE for demo purposes -->
  <!-- <script src="{% static 'js/demo.js' %}"></script> -->
  <!-- REQUIRED SCRIPTS -->
  <script src="{% static 'js/ckeditor.js' %}"></script>

  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script>
    $(function () {
      setTimeout(function () {
        window.location.href = "/Gateway/login_auth/?next=/Gateway/";
      }, 15 * 60 * 1000);

      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
        "pageLength": 10
      });

    });

    function refreshPage() {
      window.location.reload();
    }

    document.addEventListener('DOMContentLoaded', function () {
      const mapIcon = document.getElementById('map-icon');
      const mapContainer = document.getElementById('map-container');

      mapIcon.addEventListener('click', function () {
        // Toggle visibility of the map container
        if (mapContainer.style.display === 'none') {
          mapContainer.style.display = 'block';
        } else {
          mapContainer.style.display = 'none';
        }
      });
    });

  </script>

<style>
  #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    font-size: 24px; 
  }

  #loading-overlay img {
    width: 200px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
  }

  p {
    color : rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(48, 152, 184);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
  }

  .grid {
      display: flex;
      flex-flow: row wrap;
      padding: 0.75vw;
    }

  .grid .item {
    min-height: 20vh;
    margin: 0.75vw;
  }

  .grid .item {
  position: relative;
  padding: 1vw;
  background-position:  left bottom;
  background-size: 100% 100%;
  transition: background 500ms, outline 500ms;
  background-position: top left;
  outline: transparent;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    gap: 0; /* Gap between columns */
  }

  /* Style the individual columns */
  .grid-item {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px; /* Adjust the font size here */
    line-height: 1px; /* Adjust the line height here */
    height: 2px; /* Adjust the height here */
  }

  .grid .item:nth-child(1)  { grid-area: big1; }
  .grid .item:nth-child(2)  { grid-area: big2; }

  .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

  .amb-h{
    font-size: larger;
  }

  .amb-d{
    font-size: large;
  }

  .p-but{
    font-size:small;
  }

  @media(max-width:768px){
    .amb-h{
      font-size: large;
    }
    .amb-d{
      font-size: medium;
    }
    p{
      font-size: x-large;
    }
    
    .p-but{
      font-size:x-small;
    }
  }

  @media(max-width:576px){
    .amb-h{
      font-size: small;
    }
    .amb-d{
      font-size: small;
    }
    p{
      font-size: larger;
    }
    .p-but{
      font-size:xx-small;
    }
  }

</style>

</head>
<body onload="zzz()">
<div id="loading-overlay">
  <img src="{% static 'img/loaderdark.gif' %}" alt="Loading...">
</div>
<div class="content-header" align="center">        
  <p>Cold Storage
    <button onclick="refreshPage()" class="mt-sm-2 mt-xs-1 mr-3 p-but" style="float:right;background-color: #fafbfc; font-style: italic;box-sizing: inherit; font-family: Arial, Helvetica, sans-serif;"><li class="fa fa-refresh"></li></button>
  </p>          
  <ol class="breadcrumb amb-d" style="float:right">
    <li class="breadcrumb-item"><a href="{% url 'dev' %}">Home</a></li>
    <li class="breadcrumb-item active" style="color: teal;">ColdStorage</li>
  </ol> 
</div>
             
  <!-- <div id="row" style="padding-left: 2%;padding-right: 2%;padding-bottom: 2%; align-items: center;"> -->
  <!-- <table style="width: 100%; background-image:linear-gradient(#ececec, #ffffff, #ececec);overflow: auto;" class="table table-bordered">
    <tr>
    <td> -->
      <!-- <div id="row" style="line-height: 30px;padding-top:1%; width: 100%;">
      <div class="col-xl-6" style="float: left;padding: 2%;">
      <div class="card" style="width: 100%;">
      <div class="card-header" id="cardheader">
      <span style="float:left;font-size: 20px;color:rgb(199, 3, 3); font-family: 'Times New Roman', Times, serif;"><b> Ambulance</b></span>
      </div>
      <div class="card-body table-responsive" style="border: 1px solid #93adad;"> -->
<section class="mt-3 mt-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table id="example1" class="table table-hover table-bordered">
          <thead class="text-center">
            <tr>        
              <th class="amb-h">Name</th>
              <th class="amb-h" data-orderable="false">Last Update</th>
              <th class="amb-h">Temperature Status</th>
              <th class="amb-h" data-orderable="false">Details</th>
            </tr>
          </thead>
          
          <tbody class="text-center">
            <tr class="amb-d">
              <td>TRACCS001</td>
              <td style="color:red;">3 hours ago</td>
              <td>
                <div class="grid-container" >
                  <div class="grid-item" style="background-color:  rgba(0, 179, 255, 0.941)">0</div>
                  <div class="grid-item" style="background-color: rgba(8,226,15,0.893)" >2</div>
                  <div class="grid-item" style="background-color: rgba(229, 145, 34, 0.893)" >2</div>
                </div>
              </td>
              <td><a href=" {% url 'sensor' tracker='TRACCS001' %}"><img src="{%static 'img/cold1.png' %}" alt="coldstorage" style="height:35px;width:35px;cursor:pointer;"></a></td>
            </tr>	   
      
            <tr class="amb-d">
              <td>TRACCS002</td>
              <td style="color:green;">2 minutes ago</td>
              <td>
                <div class="grid-container" >
                  <div class="grid-item" style="background-color:  rgba(0, 179, 255, 0.941)">0</div>
                  <div class="grid-item" style="background-color: rgba(8,226,15,0.893)" >1</div>
                  <div class="grid-item" style="background-color: rgba(229, 145, 34, 0.893)" >3</div>
                </div>
              </td>
              <td><a href=" {% url 'sensor' tracker='TRACCS002' %}"><img src="{%static 'img/cold1.png' %}" alt="coldstorage" style="height:35px;width:35px;cursor:pointer;"></a></td>
            </tr>     

            <tr class="amb-d">
              <td>TRACCS003</td>
              <td style="color:#FDDA0D;">50 minutes ago</td>
              <td>                
                <div class="grid-container" >
                  <div class="grid-item" style="background-color:  rgba(0, 179, 255, 0.941)">0</div>
                  <div class="grid-item" style="background-color: rgba(8,226,15,0.893)" >2</div>
                  <div class="grid-item" style="background-color: rgba(229, 145, 34, 0.893)" >2</div>
                </div>
              </td>
              <td><a href=" {% url 'sensor' tracker='TRACCS003' %}"><img src="{%static 'img/cold1.png' %}" alt="coldstorage" style="height:35px;width:35px;cursor:pointer;"></a></td>
            </tr>

            <tr class="amb-d">
              <td>TRACCS004</td>
              <td style="color:green;">10 minutes ago</td>
              <td>
                <!-- <div class="button-container" style="display: table-row;">
                  <button class="button"  style="background-color:  rgba(0, 179, 255, 0.941); margin-left: 4px;caret: shape 10px;" title="2 Sensors"></button>
                  <button class="button" style="background-color: rgba(8,226,15,0.893); margin-block-start: 2px;" title="2 Sensors"></button>
                  <button class="button"  style="background-color: rgba(229, 145, 34, 0.893) ;scroll-margin-left: 5px;" title="None"></button>
                </div> -->
                <div class="grid-container" >
                  <div class="grid-item" style="background-color:  rgba(0, 179, 255, 0.941)">1</div>
                  <div class="grid-item" style="background-color: rgba(8,226,15,0.893)" >1</div>
                  <div class="grid-item" style="background-color: rgba(229, 145, 34, 0.893)" >2</div>
                </div>
              </td>
              <td><a href=" {% url 'sensor' tracker='TRACCS004' %}"><img src="{%static 'img/cold1.png' %}" alt="coldstorage" style="height:35px;width:35px;cursor:pointer;"></a></td>
            </tr>
          </tbody>         
        </table>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container border bg-dark">
    <div class="row text-center justify-content-center">
      <div class="col-md-2 amb-h"><b>Currently Running</b></div>
      <div class="col-md-6">
        <div class="row amb-d">
          <div class="col-4"><i class="fa fa-circle" style="font-size:12px;color:green"></i>&nbsp;&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;15 mins&nbsp;&nbsp;&nbsp;</div>
          <div class="col-4"><i class="fa fa-circle" style="font-size:12px;color:#e99f0b"></i>&nbsp;&nbsp;&nbsp;&nbsp;Between&nbsp;&nbsp;15 mins & 1 hour&nbsp;&nbsp;&nbsp;</div>
          <div class="col-4"><i class="fa fa-circle" style="font-size:12px;color:rgb(2255,0, 0)"></i>&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 hour&nbsp;&nbsp;&nbsp;</div>
        </div>
      </div>
    </div>
   </div>
</section>

<section class="mt-3 mt-lg-5 mb-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        {{folium.map|safe}}
      </div>
    </div>
  </div>
</section>
    
<script>
jQuery(document).ready(function ($) {

$('#checkbox').change(function(){
  setInterval(function () {
      moveRight();
  }, 3000);
});

var slideCount = $('#slider ul li').length;
var slideWidth = $('#slider ul li').width();
var slideHeight = $('#slider ul li').height();
var sliderUlWidth = slideCount * slideWidth;

$('#slider').css({ width: slideWidth, height: slideHeight });

$('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

$('#slider ul li:last-child').prependTo('#slider ul');

function moveLeft() {
    $('#slider ul').animate({
        left: + slideWidth
    }, 200, function () {
        $('#slider ul li:last-child').prependTo('#slider ul');
        $('#slider ul').css('left', '');
    });
};

function moveRight() {
    $('#slider ul').animate({
        left: - slideWidth
    }, 200, function () {
        $('#slider ul li:first-child').appendTo('#slider ul');
        $('#slider ul').css('left', '');
    });
};

$('a.control_prev').click(function () {
    moveLeft();
});

$('a.control_next').click(function () {
    moveRight();
});

});    


(function($){

$(document).ready(function(){
  // Pause hero carousel
  $('.hero-carousel').carousel('pause');
});

})(jQuery);

  function zzz() {
    // Disable clickable elements
    disableClickableElements();

    // Simulate a delay (replace this with your actual content loading logic)
    setTimeout(function () {
      // Enable clickable elements
      enableClickableElements();

      // Hide the loading overlay
      document.getElementById('loading-overlay').style.display = 'none';
    }, 2000); // Adjust the delay as needed
  }

  function disableClickableElements() {
    // Add logic to disable clickable elements (icons, buttons, etc.)
    var clickableElements = document.querySelectorAll('.clickable');
    clickableElements.forEach(function (element) {
      element.style.pointerEvents = 'none';
    });
  }

  function enableClickableElements() {
    // Add logic to enable clickable elements
    var clickableElements = document.querySelectorAll('.clickable');
    clickableElements.forEach(function (element) {
      element.style.pointerEvents = 'auto';
    });
  }

</script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

  <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>
</body>

</html>
{% include 'footer.html' %}