{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPS Location</title>
    <!-- Load the Google Charts library -->
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
    <style>
    p {
    color : white;
    text-align: center;
    background-color: rgb(68, 101, 63);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
    }

    #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    font-size: 24px; 
  }

  #loading-overlay img {
    width: 200px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
  }

    </style>
</head>
<body style="font-family: 'Times New Roman', Times, serif;" onload="zzz()">
  <div id="loading-overlay">
  <img src="{% static 'demo/dist/img/loaderdark.gif' %}" alt="Loading...">
  </div>

  <div class="box1" style="background-color: white;">
    <div class="row">
      <div class="col-xl-6" id="mapview">
        <div class="card-body table-responsive" id="map1" style="width: 100%; height: 100%; margin: 0;">
          <div class="card">
            <p>
              Location of the Vehicle
            </p>
            <div class="card-body">
              {{ folium.map|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function zzz() {
        // Disable clickable elements
        disableClickableElements();

        // Simulate a delay (replace this with your actual content loading logic)
        setTimeout(function () {
          // Enable clickable elements
          enableClickableElements();

          // Hide the loading overlay
          document.getElementById('loading-overlay').style.display = 'none';
        }, 2000); // Adjust the delay as needed
      }

      function disableClickableElements() {
        // Add logic to disable clickable elements (icons, buttons, etc.)
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'none';
        });
      }

      function enableClickableElements() {
        // Add logic to enable clickable elements
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'auto';
        });
      }
  </script>
</body>
</html>