{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OBD</title>

    <link rel="stylesheet" href="{%static 'css/sensors.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script> 
        $(function () {
          setTimeout(function() {
            window.location.href = "/Gateway/login_auth/?next=/Gateway/";
        }, 15*60*1000);
      
          $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });
        });
      </script>
</head>
<body class="bg-light">
    <section class="sec-head" style="background-color: antiquewhite;">
        <div class="container text-center my-auto mt-3 mb-3 font-weight-bold">
            <p class="p-head">ON BOARD DIAGNOSTICS</p>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item sen-d"><a href="{% url 'dev' %}">Home</a></li>
                            <li class="breadcrumb-item active sen-d" aria-current="page">OBD</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #e61f04;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row m-4">
                <div class="col-12">
                    <table id="example1" class="table table-hover table-border text-center">
                        <thead>    
                            <tr class="sen-h">    
                                <th data-orderable="false">MODEL</th>
                                <th>ENGINE COOLANT TEMPERATURE(°C)</th>
                                <th>ENGINE SPEED(RPM)</th>
                                <th>ENGINE START TIME(SEC)</th>
                                <th>FUEL LEVEL(L)</th> 
                                <th>VEHICLE SPEED(KM/HR)</th>
                                <th>FUEL TYPE</th>
                                <th>INTAKE AIR(PPM)</th>
                                <th>VEHICLE TEMPERATURE(°C)</th>
                            </tr>                      
                        </thead>
                        <tbody>
                            <tr class="sen-d">
                                <td>TATA NEXON EV</td>
                                <td>55</td>
                                <td>1005</td>
                                <td>32</td>                            
                                <td>10</td>
                                <td>20</td>
                                <td>8</td>
                                <td>220</td>
                                <td>28</td>
                            </tr>
                            <tr class="sen-d">
                                <td>KIA</td>
                                <td>49</td>
                                <td>908</td>
                                <td>20</td>
                                <td>8</td>
                                <td>16</td>
                                <td>4</td>
                                <td>209</td>
                                <td>29</td>
                            </tr>
                            <tr class="sen-d">
                                <td>HYUNDAI KONA ELECTRIC</td>
                                <td>53</td>
                                <td>1100</td>
                                <td>30</td>
                                <td>9</td>
                                <td>25</td>
                                <td>8</td>
                                <td>198</td>
                                <td>28</td>
                            </tr>
                            <tr class="sen-d">
                                <td>TATA NEXON</td>
                                <td>50</td>
                                <td>1007</td>
                                <td>22</td>
                                <td>12</td>
                                <td>30</td>
                                <td>4</td>
                                <td>200</td>
                                <td>25</td>
                            </tr>
                            <tr class="sen-d">
                                <td>TATA PUNCH</td>
                                <td>57</td>
                                <td>998</td>
                                <td>31</td>
                                <td>14</td>
                                <td>22</td>
                                <td>4</td>
                                <td>223</td>
                                <td>30</td>
                            </tr>
                            <tr class="sen-d">
                                <td>SUZUKI SWIFT</td>
                                <td>53</td>
                                <td>997</td>
                                <td>26</td>
                                <td>15</td>
                                <td>16</td>
                                <td>4</td>
                                <td>219</td>
                                <td>27</td>
                            </tr>
                        </tbody>                    
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-5 pb-5">
        <div class="container pt-3 pb-3 bg-secondary text-white">
            <div class="row text-center justify-content-center">
                <label class="sen-h mb-2">Fuel Type</label>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 sen-d">0&nbsp;&nbsp;-&nbsp;&nbsp;Not available</div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 sen-d">1&nbsp;&nbsp;-&nbsp;&nbsp;Gasoline</div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 sen-d">2&nbsp;&nbsp;-&nbsp;&nbsp;Methanol</div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 sen-d">3&nbsp;&nbsp;-&nbsp;&nbsp;Ethanol</div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 sen-d">4&nbsp;&nbsp;-&nbsp;&nbsp;Diesel</div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 sen-d">5&nbsp;&nbsp;-&nbsp;&nbsp;LPG</div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 sen-d">6&nbsp;&nbsp;-&nbsp;&nbsp;CNG</div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 sen-d">7&nbsp;&nbsp;-&nbsp;&nbsp;Propane</div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 sen-d">8&nbsp;&nbsp;-&nbsp;&nbsp;Electric</div>
            </div>
        </div>
    </section>    

    {% include 'footer.html' %}  
   
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>