{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROBOTICARM</title>

    <link rel="stylesheet" href="{%static 'css/sensors.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script> 
        $(function () {
          setTimeout(function() {
            window.location.href = "/Gateway/login_auth/?next=/Gateway/";
        }, 15*60*1000);
      
          $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example2").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });
        });
      </script>
</head>
<body class="bg-light">
    <section class="sec-head" style="background-color: antiquewhite;">
        <div class="container text-center my-auto mt-3 mb-3 font-weight-bold">
            <p class="p-head">ROBOTIC ARM - Automotive Industry</p>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item sen-d"><a href="{% url 'dev' %}">Home</a></li>
                            <li class="breadcrumb-item active sen-d" aria-current="page">RobotArm</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #e61f04;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row m-4">
                <div class="col-12">
                    <table id="example1" class="table table-hover table-border text-center">
                        <thead>    
                            <th class="sen-h" colspan="4">ARM 1</th>
                            <tr class="sen-h">    
                                <th>SPEED(m/s)</th>
                                <th>DIRECTION(°)</th>
                                <th>ROTATION(°/s)</th>
                            </tr>                      
                        </thead>
                        <tbody>
                            <tr class="sen-d">
                                <td>56</td>
                                <td>175</td>
                                <td>89</td>                            
                            </tr>
                            <tr class="sen-d">
                                <td>65</td>
                                <td>120</td>
                                <td>60</td>                               
                            </tr>
                            <tr class="sen-d">
                                <td>76</td>
                                <td>137</td>
                                <td>79</td> 
                                </tr>
                            <tr class="sen-d">
                                <td>69</td>
                                <td>176</td>
                                <td>67</td>                              
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section> 
    <section class="mb-5 pb-5">
        <div class="container-fluid">
            <div class="row m-4">
                <div class="col-12">
                    <table id="example2" class="table table-hover table-border text-center">
                        <thead>    
                            <th class="sen-h" colspan="4">ARM 2</th>
                            <tr class="sen-h">    
                                <th>SPEED(m/s)</th>
                                <th>DIRECTION(°)</th>
                                <th>ROTATION(°/s)</th>
                            </tr>                      
                        </thead>
                        <tbody>
                            <tr class="sen-d">
                                <td>32</td>
                                <td>220</td>
                                <td>47</td>                               
                            </tr>
                            <tr class="sen-d">
                                <td>23</td>
                                <td>180</td>
                                <td>50</td>                                
                            </tr>
                            <tr class="sen-d">
                                <td>37</td>
                                <td>198</td>
                                <td>52</td>                             
                            </tr>
                            <tr class="sen-d">
                                <td>29</td>
                                <td>187</td>
                                <td>43</td>                             
                            </tr>
                        </tbody>                    
                    </table>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}  
   
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>