{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMARTVALVE</title>

    <link rel="stylesheet" href="{%static 'css/sensors.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script> 
        $(function () {
          setTimeout(function() {
            window.location.href = "/Gateway/login_auth/?next=/Gateway/";
        }, 15*60*1000);
      
          $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example2").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example3").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });
        });
      </script>
</head>
<body class="bg-light">
    <section class="sec-head" style="background-color: antiquewhite;">
        <div class="container text-center my-auto mt-3 mb-3 font-weight-bold">
            <p class="p-head">Smart Valve</p>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item sen-d"><a href="{% url 'dev' %}">Home</a></li>
                            <li class="breadcrumb-item active sen-d" aria-current="page">SmartValve</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #e61f04;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row justify-content-center text-center font-weight-bold" style="font-weight: 700;">
                    <div class="col-12">
                        <p class="sen-h">Capacity&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;1000&nbsp;ltr</p>
                    </div>
                    <div class="row border bg-secondary text-light">
                        <div class="col-xl-4 col-md-3">
                            <p class="sen-h"><span>></span>&nbsp;50&nbsp;&nbsp;-&nbsp;&nbsp;EMPTY</p>
                        </div>
                        <div class="col-xl-4 col-md-3">
                            <p class="sen-h">50-150 &nbsp;&nbsp;-&nbsp;&nbsp;MODERATE</p>
                        </div>
                        <div class="col-xl-4 col-md-3">
                            <p class="sen-h"><span><</span>&nbsp;150&nbsp;&nbsp;-&nbsp;&nbsp;FULL</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-4">
                <div class="col-12">
                    <table id="example1" class="table table-hover table-border text-center">
                        <thead>    
                            <th class="sen-h" colspan="4">TANK 1</th>
                            <tr class="sen-h">    
                                <th>PRESSURE LEVEL(psi)</th>
                                <th>TANK LEVEL(FULL/MODERATE/EMPTY)</th>
                                <th>VALVE(OPEN/CLOSE)</th>
                            </tr>                      
                        </thead>
                        <tbody>
                            <tr class="sen-d">
                                <td>75</td>
                                <td>MODERATE</td>
                                <td>
                                    OPEN
                                    <!-- <label>
                                        OPEN
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON" checked>
                                    </label>
                                
                                    <label>
                                        CLOSE
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF">
                                    </label> -->
                                </td>                            
                            </tr>
                            <tr class="sen-d">
                                <td>36</td>
                                <td>EMPTY</td>
                                <td>
                                    <!-- <label> -->
                                        OPEN
                                        <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON" checked>
                                    </label>
                                
                                    <label>
                                        CLOSE
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF"> -->
                                    </label>
                                </td>                            
                            </tr>                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section> 
    <section>
        <div class="container-fluid">
            <div class="row m-4">
                <div class="col-12">
                    <table id="example2" class="table table-hover table-border text-center">
                        <thead>    
                            <th class="sen-h" colspan="4">TANK 2</th>
                            <tr class="sen-h">    
                                <th>PRESSURE LEVEL(psi)</th>
                                <th>TANK LEVEL(FULL/MODERATE/EMPTY)</th>
                                <th>VALVE(OPEN/CLOSE)</th>
                            </tr>                      
                        </thead>
                        <tbody>
                            <tr class="sen-d">
                                <td>109</td>
                                <td>MODERATE</td>
                                <td>
                                    <!-- <label> -->
                                        OPEN
                                        <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON"> -->
                                    <!-- </label>
                                
                                    <label>
                                        CLOSE
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF" checked>
                                    </label> -->
                                </td>                            
                            </tr>
                            <tr class="sen-d">
                                <td>163</td>
                                <td>FULL</td>
                                <td>
                                    <!-- <label>
                                        OPEN
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON" checked>
                                    </label>
                                
                                    <label> -->
                                        CLOSE
                                        <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF">
                                    </label> -->
                                </td>                            
                            </tr>                        
                        </tbody>                    
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-5 pb-5">
        <div class="container-fluid">
            <div class="row m-4">
                <div class="col-12">
                    <table id="example3" class="table table-hover table-border text-center">
                        <thead>    
                            <th class="sen-h" colspan="4">TANK 3</th>
                            <tr class="sen-h">    
                                <th>PRESSURE LEVEL(psi)</th>
                                <th>TANK LEVEL(FULL/MODERATE/EMPTY)</th>
                                <th>VALVE(OPEN/CLOSE)</th>
                            </tr>                      
                        </thead>
                        <tbody>
                            <tr class="sen-d">
                                <td>176</td>
                                <td>EMPTY</td>
                                <td>
                                    <!-- <label>
                                        OPEN
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON">
                                    </label>
                                
                                    <label> -->
                                        CLOSE
                                        <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF" checked>
                                    </label> -->
                                </td>                            
                            </tr>
                            <tr class="sen-d">
                                <td>40</td>
                                <td>MODERATE</td>
                                <td>
                                    <!-- <label> -->
                                        OPEN
                                        <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON" checked>
                                    </label>
                                
                                    <label>
                                        CLOSE
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF">
                                    </label> -->
                                </td>                            
                            </tr>                        
                        </tbody>                   
                    </table>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}  
   
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>