{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMARTMOTOR</title>

    <link rel="stylesheet" href="{%static 'css/sensors.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script> 
        $(function () {
          setTimeout(function() {
            window.location.href = "/Gateway/login_auth/?next=/Gateway/";
        }, 15*60*1000);
      
          $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });
        });
      </script>
</head>
<body class="bg-light">
    <section class="sec-head" style="background-color: antiquewhite;">
        <div class="container text-center my-auto mt-3 mb-3 font-weight-bold">
            <p class="p-head">SMART MOTOR</p>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item sen-d"><a href="{% url 'dev' %}">Home</a></li>
                            <li class="breadcrumb-item active sen-d" aria-current="page">SmartMotor</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #e61f04;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row m-4">
                <div class="col-12">
                    <table id="example1" class="table table-hover table-border text-center">
                        <thead>                                
                            <tr class="sen-h">    
                                <th>MOTOR SPEED(RPM)</th>
                                <th>MOTOR TEMPERATURE(°C)</th>
                                <th>MOTOR RUN TIME(sec)</th>
                                <th>SPEED LEVEL(%)</th>
                                <th>VIBRATION(Hz)</th>
                                <th>MOTOR ON/OFF</th>
                            </tr>                      
                        </thead>
                        <tbody>
                            <tr class="sen-d">
                                <th>506</th>
                                <td>48</td>
                                <td>120</td>
                                <td>64</td>       
                                <td>50</td>         
                                <td>
                                    <label>
                                        ON
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON" checked>
                                    </label>
                                
                                    <label>
                                        OFF
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF">
                                    </label>
                                </td>            
                            </tr>
                            <tr class="sen-d">
                                <th>758</th>
                                <td>42</td>
                                <td>176</td>
                                <td>76</td>       
                                <td>45</td>         
                                <td>
                                    <label>
                                        ON
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON" checked>
                                    </label>
                                
                                    <label>
                                        OFF
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF">
                                    </label>
                                </td>            
                            </tr>
                            <tr class="sen-d">
                                <th>734</th>
                                <td>35</td>
                                <td>150</td>
                                <td>69</td>       
                                <td>42</td>         
                                <td>
                                    <label>
                                        ON
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON">
                                    </label>
                                
                                    <label>
                                        OFF
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF" checked>
                                    </label>
                                </td>            
                            </tr>
                            <tr class="sen-d">
                                <th>899</th>
                                <td>41</td>
                                <td>137</td>
                                <td>72</td>       
                                <td>46</td>         
                                <td>
                                    <label>
                                        ON
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON" checked>
                                    </label>
                                
                                    <label>
                                        OFF
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF">
                                    </label>
                                </td>            
                            </tr>
                            <tr class="sen-d">
                                <th>876</th>
                                <td>51</td>
                                <td>129</td>
                                <td>78</td>       
                                <td>39</td>         
                                <td>
                                    <label>
                                        ON
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON">
                                    </label>
                                
                                    <label>
                                        OFF
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF" checked>
                                    </label>
                                </td>            
                            </tr>
                            <tr class="sen-d">
                                <th>765</th>
                                <td>47</td>
                                <td>139</td>
                                <td>67</td>       
                                <td>47</td>         
                                <td>
                                    <label>
                                        ON
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedON">
                                    </label>
                                
                                    <label>
                                        OFF
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedOFF" checked>
                                    </label>
                                </td>            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section> 

    {% include 'footer.html' %}  
   
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>