{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UPS status</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!-- Font Awesome Icons -->
  <!-- <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> -->
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">
  <!-- AdminLTE -->
  <script src="{% static 'js/adminlte.js' %}"></script>
  <!------CanvasJS for Chart-------------->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- ChartJS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script> -->
  <!-- OPTIONAL SCRIPTS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'demo/dist/js/demo.js' %}"></script>
  <script src="{% static 'demo/dist/js/pages/dashboard3.js' %}"></script> -->
  <!-- AdminLTE for demo purposes -->
  <!-- <script src="{% static 'demo/dist/js/demo.js' %}"></script> -->
  <!-- REQUIRED SCRIPTS -->
  <script src="{% static 'js/ckeditor.js' %}"></script>

  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


  <script>

    function refreshPage() {
      window.location.reload();
    }

    document.addEventListener('DOMContentLoaded', function () {
      const mapIcon = document.getElementById('map-icon');
      const mapContainer = document.getElementById('map-container');

      mapIcon.addEventListener('click', function () {
        // Toggle visibility of the map container
        if (mapContainer.style.display === 'none') {
          mapContainer.style.display = 'block';
        } else {
          mapContainer.style.display = 'none';
        }
      });
    });

  </script>

<script> 
  $(function () {
    setTimeout(function() {
      window.location.href = "/Gateway/login_auth/?next=/Gateway/";
  }, 15*60*1000);

    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
      "pageLength": 10,        
    });

  });

  function refreshPage() {
    window.location.reload();
  }

  document.addEventListener('DOMContentLoaded', function () {
    const mapIcon = document.getElementById('map-icon');
    const mapContainer = document.getElementById('map-container');

    mapIcon.addEventListener('click', function () {
      // Toggle visibility of the map container
      if (mapContainer.style.display === 'none') {
        mapContainer.style.display = 'block';
      } else {
        mapContainer.style.display = 'none';
      }
    });
  });

</script>

<style>
p {
  color : rgb(255, 255, 255);
  text-align: center;
  background-color: #07255b;
  font-style:normal;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-variant: small-caps;
}

#top, #bottom, #left, #right {
background: #a5ebff;
position: fixed;
}
#left, #right {
  top: 0; bottom: 0;
  width: 15px;
  }
  #left { left: 0; }
  #right { right: 0; }
  
#top, #bottom {
  left: 0; right: 0;
  height: 15px;
  }
  #top { top: 0; }
  #bottom { bottom: 0; }

  * {
box-sizing: border-box;
}



.grid {
    display: flex;
    flex-flow: row wrap;
    padding: 0.75vw;
  }

.grid .item {
    min-height: 20vh;
    margin: 0.75vw;
  }

  .grid .item {
  position: relative;
  padding: 1vw;
  background-position:  left bottom;
  background-size: 100% 100%;
  transition: background 500ms, outline 500ms;
  background-position: top left;
  outline: transparent;
}

.grid .item:nth-child(1)  { grid-area: big1; }
.grid .item:nth-child(2)  { grid-area: big2; }


a.control_prev, a.control_next {
position: absolute;
top: 40%;
z-index: 999;
display: block;
padding: 4% 3%;
width: auto;
height: auto;
background: #2a2a2a;
color: #fff;
text-decoration: none;
font-weight: 600;
font-size: 18px;
opacity: 0.8;
cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
opacity: 1;
-webkit-transition: all 0.2s ease;
}

a.control_prev {
border-radius: 0 2px 2px 0;
}

a.control_next {
right: 0;
border-radius: 2px 0 0 2px;
}

.tab-container {
display: flex;
flex-direction: column;
width: 40px; /* Adjust the width as needed */
}
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  font-size: 24px; 
}

#loading-overlay img {
  width: 200px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
}
</style>

</head>
<body style="font-family: 'Times New Roman', Times, serif;" onload="zzz()">
<div id="loading-overlay">
<img src="{% static 'img/loaderdark.gif' %}" alt="Loading...">
  
 </div>
               
    <div id="row" style=" background-color: #064178; font-family: 'Times New Roman', Times, serif; font-size: 17px; display: flex; width:100%;padding-left: 2%;padding-right: 2%;padding-bottom: 2%;">
      <table style="width: 100%; background-image:linear-gradient(#064178);overflow: auto; margin-left: auto;
      margin-right: auto; class = "table table-bordered; ">
  

    <tr>
      <td>
          <div id="row" style="margin: 0 ; line-height: 20px;padding-top:1%;  width: 100%;">
      <!-- <div class="col-xl-6" style="float: center;padding: 4%;width: 100%"> -->
              <div class="card" style="width: 100%;">
                  <div class="card-header" id="cardheader">
                  <span style="float:center;font-size: 20px;color:rgb(199, 3, 3); font-family: 'Times New Roman', Times, serif;"><b> UPS Specifications</b></span>
                  </div>
                  <div class="card-body table-responsive" style="border: 1px solid #93adad;">
                     <table id="example1" class="table table-hover">
                        <thead align="center">
       
      
                          <!--The Table Data begins here -->
                          <th>UPS ID</th>
                          <th data-orderable="false">Battery Count</th>
                          <th data-orderable="false">Battery Voltage</th>
                          </thead>
      
                          <tbody align="center">
                             <tr>
                                <td>UPS-101</td>
                                <td style="text-align: center;">3</td> 
                                <td style="text-align: center;">-</td>              
                              </tr>   
     
                              <tr>
                                 <td>UPS-201</td>
                                 <td style="text-align: center;">3</td>
                                 <td style="text-align: center;">-</td> 
                              </tr>        

                              <tr>
                                 <td>UPS-301</td>
                                 <td style="text-align: center;">3</td>
                                 <td style="text-align: center;">-</td> 
                              </tr>
                          </tbody>  
                      </table>  
                             
                  </div>
              </div>
          </div>
         
      </div> 
  </div>
  </td>
  </tr>
  </table>
  </div>
  
<script>
//     zzz = function() { 
//     var element = document.getElementById("cs");
//     element.style.color = '#FF6C60';
  
// }

jQuery(document).ready(function ($) {

$('#checkbox').change(function(){
setInterval(function () {
    moveRight();
}, 3000);
});

var slideCount = $('#slider ul li').length;
var slideWidth = $('#slider ul li').width();
var slideHeight = $('#slider ul li').height();
var sliderUlWidth = slideCount * slideWidth;

$('#slider').css({ width: slideWidth, height: slideHeight });

$('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

$('#slider ul li:last-child').prependTo('#slider ul');

function moveLeft() {
    $('#slider ul').animate({
        left: + slideWidth
    }, 200, function () {
        $('#slider ul li:last-child').prependTo('#slider ul');
        $('#slider ul').css('left', '');
    });
};

function moveRight() {
    $('#slider ul').animate({
        left: - slideWidth
    }, 200, function () {
        $('#slider ul li:first-child').appendTo('#slider ul');
        $('#slider ul').css('left', '');
    });
};

function toggleSidebar() {
var sidebar = document.querySelector(".sidebar");
sidebar.classList.toggle("active");
}
$('a.control_prev').click(function () {
    moveLeft();
});

$('a.control_next').click(function () {
    moveRight();
});

});    


(function($){

$(document).ready(function(){
  // Pause hero carousel
  $('.hero-carousel').carousel('pause');
});

})(jQuery);
function zzz() {
      // Disable clickable elements
      disableClickableElements();

      // Simulate a delay (replace this with your actual content loading logic)
      setTimeout(function () {
        // Enable clickable elements
        enableClickableElements();

        // Hide the loading overlay
        document.getElementById('loading-overlay').style.display = 'none';
      }, 2000); // Adjust the delay as needed
    }

    function disableClickableElements() {
      // Add logic to disable clickable elements (icons, buttons, etc.)
      var clickableElements = document.querySelectorAll('.clickable');
      clickableElements.forEach(function (element) {
        element.style.pointerEvents = 'none';
      });
    }

    function enableClickableElements() {
      // Add logic to enable clickable elements
      var clickableElements = document.querySelectorAll('.clickable');
      clickableElements.forEach(function (element) {
        element.style.pointerEvents = 'auto';
      });
    }

</script>

  <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>
</body>

</html>
{% include 'footer.html' %}