{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UPS Status</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- jQuery -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details Page with Bootstrap</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- AdminLTE -->
  <script src="{% static 'js/adminlte.js' %}"></script>
  <!------CanvasJS for Chart-------------->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- ChartJS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script> -->
  <!-- OPTIONAL SCRIPTS -->
  <!-- <script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'demo/dist/js/demo.js' %}"></script>
  <script src="{% static 'demo/dist/js/pages/dashboard3.js' %}"></script> -->
  <!-- AdminLTE for demo purposes -->
  <!-- <script src="{% static 'demo/dist/js/demo.js' %}"></script> -->
  <!-- REQUIRED SCRIPTS -->
  <script src="{% static 'js/ckeditor.js' %}"></script>

  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <!-- Load the Google Charts library -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- Load Bootstrap CSS (replace with your Bootstrap version) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

  <script>

    $(document).ready(function () {
      // $('input[name="datetimes"]').daterangepicker({
      //   showDropdowns: false,
      //   timePicker: false,
      //   timePicker24Hour: false,
      //   startDate: moment().subtract(7, 'days'),
      //   endDate: moment(),
      //   singleDatePicker: false,
      //   showTimezone: false,
      //   locale: {
      //     format: 'Y MMM DD'
      //   }
      // });

      $('input[name="datetimes"]').on('apply.daterangepicker', function (ev, picker) {
        // Automatically submit the form when the date range is applied
        $(this).closest('form').submit();
      });
    });

    $(function () {
      setTimeout(function () {
        window.location.href = "/UPS/login_auth/?next=/UPS/";
      }, 15 * 60 * 1000);
    })
    $(function () {
      $('input[name="datetimes"]').daterangepicker({
        showDropdowns: false,
        timePicker: true,
        timePicker24Hour: true,
        startDate: moment().subtract(1, 'days'),
        endDate: moment(),
        showTimezone: true,
        locale: {
          format: 'Y MMM DD '
        }
      }
      );
    }
    )

    function refreshPage() {
      location.reload();
    }
    var lastRefreshTime = null;

    function updateRefreshTime() {
      var currentTime = new Date().toLocaleString();
      console.log(currentTime);
      document.getElementById("refreshTime").textContent = currentTime;
      localStorage.setItem("lastRefreshTime", currentTime); // Store the current time in local storage

    }

    // function reloadAndDisplayTime() {
    //     location.reload();
    //     var lastRefreshTime = localStorage.getItem("lastRefreshTime"); // Get the last refresh time from local storage
    //     if (lastRefreshTime) {
    //         document.getElementById("refreshTime").textContent = lastRefreshTime;
    //     }
    //     updateRefreshTime(); // Update the current time and store it in local storage
    // }

    // window.onload = function () {
    //     var lastRefreshTime = localStorage.getItem("lastRefreshTime"); // Get the last refresh time from local storage
    //     if (lastRefreshTime) {
    //         document.getElementById("refreshTime").textContent = lastRefreshTime;
    //     } else {
    //         updateRefreshTime();
    //     }
    // }




    function redirectToPage(selectedValue) {
      if (selectedValue) {
        window.location.href = selectedValue;
      }
    }

    function getInputValue() {
      const datetimesInput = document.getElementById('datetimes');
      const dateRange = datetimesInput.value;

      console.log('Selected Date Range:', dateRange);
    }

    document.addEventListener('DOMContentLoaded', function () {

      var boltIcon = document.getElementById('boltIcon');
      var batteryVoltage = parseFloat(document.getElementById('batteryVoltage').innerText);


      if (batteryVoltage < 2.28) {
        boltIcon.style.color = 'red';
      }
    });

    function formatTimestamp(timestamp) {
      const date = new Date(timestamp);
      return `${date.toLocaleDateString()} ${date.toLocaleTimeString()}`;
    }
    function updateRefreshTime() {
      const currentTime = performance.now();
      ts = Date.now()
      console.log(ts);
      console.log(currentTime);
      const formattedTime = formatTimestamp(ts);
      const refreshTimeElement = document.getElementById('refreshTime');
      refreshTimeElement.textContent = formattedTime;
      localStorage.setItem("lastRefreshTime", formattedTime);
    }

    function reloadAndDisplayTime() {
      location.reload();
      updateRefreshTime();
    }

    function onPageLoad() {
      var lastRefreshTime = localStorage.getItem("lastRefreshTime");
      console.log(lastRefreshTime);
      if (lastRefreshTime) {
        document.getElementById("refreshTime").textContent = "Last Reload Time: " + lastRefreshTime;
      }
      updateRefreshTime();
    }
    window.addEventListener('load', onPageLoad);

  </script>


  <style>
    #loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      font-size: 24px;
    }

    #loading-overlay img {
      width: 200px;
      /* Adjust the size as needed */
      height: 150px;
      /* Adjust the size as needed */
    }

    .small-label {
      font-size: 12px;
      /* Change the font size to your preference */
    }

    .iframecontainer {
      /* position: relative; */
      width: 100%;
      overflow: hidden;
      padding-top: 35%;
    }

    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
    }

    .small-box {
      /*min-width: 150px;
       max-width: 360px; */
      width: 100%;
      background-color: #94bdec6e;
      border: solid 1px gray;
    }

    .large-box {
      /*min-width: 150px;
       max-width: 360px; */
      width: 100%;
      align-items: center;
      background-color: rgba(204, 204, 204, 0.473);
      border: solid 2px gray;
      border-radius: 5px;
    }

    .analog-meter {
      width: 200px;
      8 height: 200px;
      background-color: #0034706e;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin: 10px;
    }

    .needle {
      width: 3px;
      height: 100px;
      background-color: #ff0000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: 50% 100%;
      transform: translate(-50%, -100%) rotate(0deg);
      transition: transform 0.5s ease;
    }

    .reading {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
    }

    .pa {
      color: rgb(255, 255, 255);
      text-align: center;
      background-color: #003470;
      font-style: normal;
      font-family: 'Times New Roman', Times, serif;
      font-size: xx-large;
      font-variant: small-caps;
    }

    .gauge-chart {
      margin: 0;
      padding: 0;
    }

    svg:first-child>g>text[text-anchor~=middle] {
      font-size: 16px;
    }

    .red-text {
      color: red;
    }

    .green-text {
      color: green;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 5px;
    }


    /* Style for the UPS ID */
    #upsID {
      font-family: 'Times New Roman', Times, serif;
      font-size: 14px;
      text-align: left;
    }

    @media screen and (max-width: 600px) {
      .led-name {
        font-size: 10px;
      }

      .led-icon {
        font-size: 10px;
        /* Adjust the size as needed */
      }
    }

    @media (min-width: 576px) {
      h5 {
        text-align: left;
      }
    }

    @media (min-width: 768px) {
      h5 {
        text-align: center;
      }
    }

    @media (min-width: 992px) {
      h5 {
        text-align: right;
      }
    }
  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body style="font-family: 'Times New Roman', Times, serif;" onload="zzz()">
  <div id="loading-overlay">
    <img src="{% static 'img/loaderdark.gif' %}" alt="Loading...">

  </div>
  <div class="content-header" align="center">
    <p class="pa">UPS Gateway Details
      <!-- <button onclick="refreshPage()" style="float:right;margin-top: 10px; margin-right: 30px;background-color: #fafbfc; font-size:small;font-style: italic;box-sizing: inherit; font-family: 'Times New Roman', Times, serif;"><li class="fa fa-refresh"></li></button> -->
    </p>

    <ol class="breadcrumb" style="float:right">
      <li class="breadcrumb-item" style="font-family: 'Times New Roman', Times, serif;"><a href="{% url 'dev' %}">Home</a></li>
      <li class="breadcrumb-item" style="font-family: 'Times New Roman', Times, serif;"><a href="{% url 'ups' %}">Ups</a></li>
      <li class="breadcrumb-item active" style="color: teal;font-family: 'Times New Roman', Times, serif;">Detail</li>
    </ol>
  </div>

  <h5 class="text-center">
    <label class="stat"
      style="display: block; color: #003470; font-family: 'Times New Roman', Times, serif; margin: 2px;">
      Status of {{upsid}}
    </label>
  </h5>

  <div class="row" style="padding-left: 20px;">
    <div class="col-md-6 col-12 order-md-1 order-2 text-left">
      <!-- UPS dropdown on the left -->
      <div class="form-group">
        <label for="pageSelect">Select UPS:</label>
        <select id="pageSelect" onchange="redirectToPage(this.value)">
          <option value="" hidden>{{upsid}}</option>
          <option value="{% url 'upsdetail' upsid='UPS_101' %}">UPS-101</option>
          <option value="{% url 'upsdetail' upsid='UPS_201' %}">UPS-201</option>
          <option value="{% url 'upsdetail' upsid='UPS_301' %}">UPS-301</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-4"
      style="background:rgba(204, 204, 204, 0.473); padding-top: 17px; padding-left: 40px; text-align: left; ">
      <span style="font-size: medium; color: black; font-weight: 600; font-family: 'Times New Roman', Times, serif;">
        Last Update from Gateway : <span id="timeAgoCell">{{gsm}}</span>
      </span>
    </div>
    <div class="col-lg-4"
      style="background:rgba(204, 204, 204, 0.473); padding-top: 17px; padding-left: 40px; text-align: left; ">
      <span style="font-size: medium; color: black; font-weight: 600; font-family: 'Times New Roman', Times, serif;">
        Last Update from UPS : <span id="timeAgoCell1">{{l_s}}</span>
      </span>
    </div>
    <!-- <div class="col-lg-4" style="background:rgba(204, 204, 204, 0.473); padding-top: 17px; padding-left: 40px; text-align: left; ">
              <span style="font-size: medium; color: black; font-weight: 600; font-family: 'Times New Roman', Times, serif;">
                  Last Reload Time : <span id="refreshTime"></span>
              </span>
              <i class="fas fa-sync-alt" onclick="reloadAndDisplayTime()" style="color: rgb(49, 146, 211); cursor: pointer;padding-left: 50px;text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;" data-toggle="tooltip" data-placement="top" title="Reload"></i>
            </div>
        </div> -->

    <div class="col-lg-4"
      style="background: rgba(204, 204, 204, 0.473); padding-top: 17px; padding-left: 40px; text-align: left;">
      <span style="font-size: medium; color: black; font-weight: 600; font-family: 'Times New Roman', Times, serif;">
        Last Reload Time : <span id="refreshTime"></span>
      </span>
      <i class="fas fa-sync-alt" onclick="reloadAndDisplayTime()"
        style="color: rgb(49, 146, 211); cursor: pointer; padding-left: 50px; text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;"
        data-toggle="tooltip" data-placement="top" title="Reload"></i>
    </div>
  </div>

  <!-- <div class="content-wrapper"> -->
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0 text-dark" style="font-weight: 300;font-family: 'Times New Roman', Times, serif; font-size: medium;">UPS ID:{{upsid}}</h1> -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

          <!-- Small boxes (Stat box) -->

          <div class="row" style="background-color: #ffffff;">


            <!-- ./col -->
            <div class="container-fluid" align="center">
              <div class="row">
                <div class="col-lg-12 gauge-chart scroll-animation"
                  style="font-family: 'Times New Roman', Times, serif;">
                  <div id="chart_div1" style="display: inline-block;"></div>
                  <div id="chart_div2" style="display: inline-block;"></div>
                  <!-- <div id="chart_div3" style="display: inline-block;"></div> -->
                  <div id="chart_div4" style="display: inline-block;"></div>
                  <div id="chart_div5" style="display: inline-block;"></div>
                  <div id="chart_div6" style="display: inline-block;"></div>
                </div>
              </div>
            </div>



            <!-- ./col -->
          </div>
          <br>
          <div class="container-fluid" style="padding: 0;">
            <div class="row">
              <!-- Left Box -->
              <div class="col-md-4">
                <div class="small-box">
                  <div class="inner">
                    <h4>
                     <b> {{ b_d }} V </b></h4>
                    <p><b>Battery-Voltage</b></p>
                    <div class="icon" style="color: black;">
                      <i class="fas fa-car-battery" aria-hidden="true" style="font-size: 60px;"></i>
                      <i id="boltIcon" class="fas fa-solid fa-bolt"
                        style="position: absolute; top: 8px; right: 8px; font-size: 40px; text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;"></i>
                      <!--  <i class="fa fa-battery-three-quarters" aria-hidden="true"></i> -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- Middle Box -->
              <div class="col-md-4 ">
                <div class="small-box">
                  <div class="inner">
                    <h4><b>{{tob}}</b></h4>
                    <p><b>Time On Battery</b></p>
                    <div class="icon" style="color: black;">
                      <i class="fas fa-stopwatch"></i>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Right Box -->
              <div class="col-md-4 ">
                <div class="small-box">
                  <div class="inner">
                    <h4><b>
                      {{ hours }} Hours
                      {{ mins }} mins </b>
                    </h4>
                    <p><b>Estimated Battery Remaining Time(EBRT)</b></p>
                    <div class="icon" style="color: black;">
                      <i class="fa fa-hourglass-half"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--row for small box ends -->
          <!-- LED Container using Bootstrap classes -->
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="large-box">
                <div class="inner">
                  <h6 class="sm-12" style="padding-left: 30px;"><b>System Status Alarms</b></h6>
                  <!-- LED Icons and Names -->
                  <div class="led-grid"
                    style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; padding-left: 30px;">
                    <!-- First Row of LEDs -->
                    <div class="led-box">
                      <i class="fas fa-circle led-icon" style="border: 1px solid black; border-radius: 60%;"></i>
                      <div class="led-name">I/P Voltage</div>
                    </div>
                    <div class="led-box">
                      <i class="fas fa-circle led-icon" style="border: 1px solid black; border-radius: 60%;"></i>
                      <div class="led-name">O/P Voltage</div>
                    </div>
                    <div class="led-box">
                      <i class="fas fa-circle led-icon" style="border: 1px solid black; border-radius: 60%;"></i>
                      <div class="led-name">Battery Voltage</div>
                    </div>
                    <div class="led-box">
                      <i class="fas fa-circle led-icon" style="border: 1px solid black; border-radius: 60%;"></i>
                      <div class="led-name">Temperature</div>
                    </div>
                    <!-- Second Row of LEDs -->
                    <div class="led-box">
                      <i class="fas fa-circle led-icon" style="border: 1px solid black; border-radius: 60%;"></i>
                      <div class="led-name">Estimated Battery Remaining Time</div>
                    </div>
                    <div class="led-box">
                      <i class="fas fa-circle led-icon" style="border: 1px solid black; border-radius: 60%;"></i>
                      <div class="led-name">Time on Battery</div>
                    </div>
                    <div class="led-box">
                      <i class="fas fa-circle led-icon" style="border: 1px solid black; border-radius: 60%;"></i>
                      <div class="led-name">Load Capacity</div>
                    </div>
                    <div class="led-box">
                      <i class="fas fa-circle led-icon" style="border: 1px solid black; border-radius: 60%;"></i>
                      <div class="led-name">I/P Frequency</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <!-- /.row -->
          <form method="post" style="background:#FFFFFF;">
            {% csrf_token %}

            <div class="container">
              <div class="row">
                <div class="col-md-8 offset-md-2" id="filters" align="center"
                  style="background: rgba(255,255,255,0.5); padding: 15px; border-radius: 10px;">
                  <span class="font-weight-bold" style="font-size: larger;">Select Date Range to filter and view Graphs:
                  </span>&nbsp;&nbsp;
                  <div class="input-group">
                    <input type="text" name="datetimes" id="datetimes" class="form-control"
                      style="width: 70%; border: 1px solid #2f0c3e;" />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="far fa-calendar text-dark"></i>
                      </div>
                    </div>
                  </div>
                  <br> <!-- Add a line break to move the button to the next line -->
                  <button id="button" class="btn btn-sm btn-dark" onclick="getInputValue();">Filter</button>
                </div>
              </div>
            </div>

          </form>
          <br>
          <div class="borderexample" align="center"
            style="font-size: larger;font-weight: bold;color: rgb(0, 0, 0);background-color: rgba(255, 255, 255, 0.774);">
            {{dt}}
          </div>

          {{ip_op|safe}}
          {{ip_fq|safe}}
          {{battery|safe}}
          {{temp|safe}}
          {{load|safe}}

        </div>

      </div>

    </div>

  </div>




</body>

<!-- Load Bootstrap and jQuery (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  google.charts.load('current', { 'packages': ['gauge'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var dataIPOut = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['I/P Volt (V)', {{ v_d }}],     
     ]);

  var dataOPOut = google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['O/P Volt (V)', {{ o_v_d }}],
     ]);

  var dataIPTemp = google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['Temp (°C)', {{ t_d }}],
     ]);

  var dataLoad = google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['Load (%)', {{ ld }}],
     ]);

  var dataFreq = google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['I/P Freq (Hz)', {{ i_f_d }}],
     ]);


  var optionsIPTemp = {
    width: 'auto',
    height: 260,
    min: -30,
    max: 60,
    greenFrom: 0,
    greenTo: 45,
    yellowFrom: -30,
    yellowTo: 0,
    redFrom: 45,
    redTo: 60,
    minorTicks: 10,
  };

  var optionsIPOut = {
    width: 'auto',
    height: 260,
    min: 0,
    max: 500,
    greenFrom: 110,
    greenTo: 300,
    yellowFrom: 0,
    yellowTo: 110,
    redFrom: 300,
    redTo: 500,
    minorTicks: 10,
  };

  var optionsOPOut = {
    width: 'auto',
    height: 260,
    min: 0,
    max: 500,
    greenFrom: 205,
    greenTo: 240,
    yellowFrom: 0,
    yellowTo: 205,
    redFrom: 240,
    redTo: 500,
    minorTicks: 10,
  };

  var optionsLoad = {
    width: 'auto',
    height: 260,
    min: 0,
    max: 200,
    greenFrom: 0,
    greenTo: 85,
    yellowFrom: 85,
    yellowTo: 99,
    redFrom: 99,
    redTo: 200,
    minorTicks: 10,
  };

  var optionsFreq = {
    width: 'auto',
    height: 260,
    min: 0,
    max: 70,
    greenFrom: 46,
    greenTo: 54,
    yellowFrom: 0,
    yellowTo: 46,
    redFrom: 54,
    redTo: 70,
    minorTicks: 10,
  };

  var chartIPTemp = new google.visualization.Gauge(document.getElementById('chart_div4'));
  //  var chartBty = new google.visualization.Gauge(document.getElementById('chart_div3'));
  var chartIPOut = new google.visualization.Gauge(document.getElementById('chart_div1'));
  var chartOPOut = new google.visualization.Gauge(document.getElementById('chart_div2'));
  var chartLoad = new google.visualization.Gauge(document.getElementById('chart_div5'));
  var chartFreq = new google.visualization.Gauge(document.getElementById('chart_div6'));

  chartIPTemp.draw(dataIPTemp, optionsIPTemp);
  //  chartBty.draw(dataBty, optionsBty);
  chartIPOut.draw(dataIPOut, optionsIPOut);
  chartOPOut.draw(dataOPOut, optionsOPOut);
  chartLoad.draw(dataLoad, optionsLoad);
  chartFreq.draw(dataFreq, optionsFreq);
   }

  function updateGatewayTextColor() {
    var cells = document.querySelectorAll('#timeAgoCell');

    cells.forEach(function (cell) {
      // Extract the text content and parse it to get the time unit and value
      var text = cell.textContent.trim(); // Remove leading/trailing spaces
      var parts = text.split(' '); // Split the text by spaces
      var value = parseInt(parts[0]); // Parse the numeric value
      var unit = parts[1]; // Get the time unit (e.g., "minutes", "hours", "days", etc.)
      if (text === 'just now' || unit === 'seconds' || unit === 'minute') {
        cell.classList.add('green-text');
      } else {
        // Check the time unit and set the text color class accordingly
        if (unit === 'minutes' && !isNaN(value) && value <= 10) {
          cell.classList.add('green-text');
        } else {
          cell.classList.add('red-text');
        }
      }
    });
  }

  // Call the function to update cell text color when the DOM is ready
  document.addEventListener('DOMContentLoaded', updateGatewayTextColor);

  function updateUPSTextColor() {
    var cells1 = document.querySelectorAll('#timeAgoCell1');

    cells1.forEach(function (cell) {
      // Extract the text content and parse it to get the time unit and value
      var text1 = cell.textContent.trim(); // Remove leading/trailing spaces
      var parts1 = text1.split(' '); // Split the text by spaces
      var value1 = parseInt(parts1[0]); // Parse the numeric value
      var unit1 = parts1[1]; // Get the time unit (e.g., "minutes", "hours", "days", etc.)
      if (text1 === 'just now' || unit1 === 'seconds' || unit1 === 'minutes' || unit1 === 'minute') {
        cell.classList.add('green-text');
      } else {
        // Check the time unit and set the text color class accordingly
        if (unit1 === 'hours' && !isNaN(value1) && value1 <= 1) {
          cell.classList.add('green-text');
        } else {
          cell.classList.add('red-text');
        }
      }
    });
  }


  document.addEventListener('DOMContentLoaded', updateUPSTextColor);


  document.addEventListener('DOMContentLoaded', function () {

    var boltIcon = document.getElementById('boltIcon');
    var inputVoltage = parseFloat("{{ v_d }}");
    // Check battery voltage and set the color dynamically
    if (inputVoltage === 0) {
      boltIcon.style.color = 'red';
    } else {
      boltIcon.style.color = 'green';
    }
  });

  // Get the LED elements and their corresponding values
  const ledElements = document.querySelectorAll('.led-icon');

  // Replace the following lines with the actual values from your arrays
  const inputVoltageValue = {{ v_d }};
  const outputVoltageValue = {{ o_v_d }};
  const batteryVoltageValue = {{ b_d }};
  const temperatureValue = {{ t_d }};
  const loadCapacityValue = {{ c_ld }};
  const inputFrequencyValue = {{ i_f_d }};

  // Update LED colors based on values and thresholds
  if (ledElements.length > 0) {
    updateLEDColor(inputVoltageValue, 110, 300, 0, 500, ledElements[0]);
    updateLEDColor(outputVoltageValue, 205, 240, 0, 500, ledElements[1]);
    updateLEDColor(batteryVoltageValue, 36, 42, 0, 500, ledElements[2]);
    updateLEDColor(temperatureValue, 0, 45, -30, 60, ledElements[3]);
    updateLEDColor(loadCapacityValue, 0, 85, 86, 200, ledElements[6]);
    updateLEDColor(inputFrequencyValue, 46, 54, 0, 70, ledElements[7]);
  } else {
    console.error("No elements found with the class 'led-icon'");
  }

  // Function to update LED color based on value and thresholds
  function updateLEDColor(value, greenMin, greenMax, redMin, redMax, element) {
    console.log("Updating LED color for element:", element);

    // Check if element is defined
    if (element && element.style) {
      if (value >= greenMin && value <= greenMax) {
        element.style.color = 'green';
      } else if ((value >= redMin && value < greenMin) || (value > greenMax && value <= redMax)) {
        element.style.color = 'red';
      } else {
        // Default color (e.g., gray) when not in green or red zones
        element.style.color = 'orange';
      }
    } else {
      console.error("Element is undefined. Check the array indices and make sure elements exist.");
    }
  }

  function zzz() {
    // Disable clickable elements
    disableClickableElements();

    // Simulate a delay (replace this with your actual content loading logic)
    setTimeout(function () {
      // Enable clickable elements
      enableClickableElements();

      // Hide the loading overlay
      document.getElementById('loading-overlay').style.display = 'none';
    }, 2000); // Adjust the delay as needed
  }

  function disableClickableElements() {
    // Add logic to disable clickable elements (icons, buttons, etc.)
    var clickableElements = document.querySelectorAll('.clickable');
    clickableElements.forEach(function (element) {
      element.style.pointerEvents = 'none';
    });
  }

  function enableClickableElements() {
    // Add logic to enable clickable elements
    var clickableElements = document.querySelectorAll('.clickable');
    clickableElements.forEach(function (element) {
      element.style.pointerEvents = 'auto';
    });
  }


</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</html>