{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machinery Status</title>

  
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-ARXekHgIlEP5GFkWpUq2W3JWtP4V1ooGFC41HbmPTyDhvtcxEpmtdihHZt9eRM60p6S4USkE2iwbVIRsMZjvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
       <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

  
  <!-- jQuery -->
  <!-- <script src="{% static 'demo/plugins/jquery/jquery.min.js' %}"></script> -->
<!-- Bootstrap -->
<!-- <script src="{% static 'demo/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->

<!-- AdminLTE -->
<script src="{% static 'js/adminlte.js' %}"></script>
<!------CanvasJS for Chart-------------->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- ChartJS -->
<script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
<script src="{% static 'js/pages/dashboard3.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'js/demo.js' %}"></script>
 <!-- REQUIRED SCRIPTS -->
 <script src="{% static 'demo/ckeditor/ckeditor.js' %}"></script>
<!-- 
 <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->
<!-- Load the Google Charts library -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

 <script>
  $(function () {
    $('input[name="datetimes"]').daterangepicker({
    showDropdowns: false,
    timePicker: false,
    timePicker24Hour: true,
    startDate: moment().subtract(7, 'days'),
    endDate: moment(),
    showTimezone: true,
    locale: {
    format: 'Y MMM DD'
    }
    }
    );
  }
    )
    $(function () {
      setTimeout(function() {
        window.location.href = "/Machinery/login_auth/?next=/Machinery/";
    }, 15*60*1000);
  
      $("#example1").DataTable({	

        "responsive": true,
        "autoWidth": false,
        "pageLength" : 10
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });

    function refreshPage() {
        window.location.reload();
    }
    
    
  </script>

  <style>
  html,body{
    width: 100%;
  height: 100%;
  min-height: 100%;
  }

  #item img {
    max-width: 100%;
    }

  p {
    color : white;
    text-align: center;
    background-color: rgb(68, 101, 63);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
    }

    #top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

    * {
  box-sizing: border-box;
    }

    html, body, .flip, .card, .front, .back , .card{
    height:100%;
    /* background: rgba(166, 226, 198, 0.05) */
  }
  /* body{
    background-color: rgba(218, 223, 214, 0.8);
  } */

  body{
    background-color: rgb(212, 230, 204);
    font-family:'Times New Roman', Times, serif;
  }
    /* background: url(/static/img/test1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: rgba(0, 0, 0, 0.452);
  } */

    li {
    display: table-cell!important;
    }

    .main{
        padding: 20px 40px 70px 40px;
        
    }

  .box{
    padding:20px;
    /* border-radius:20px; */
    border : .2px solid rgba(15, 121, 72, 0.082);
    background-color: rgba(15, 121, 72, 0.082);
    /* color:#fff; */
    display:flex;
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
    font-family:'Times New Roman', Times, serif;
  }

  .box1{
    padding:40px;
    /* border-radius:20px; */
    border : .2px solid rgba(15, 121, 72, 0.1);
    background-color: rgba(15, 121, 72, 0.1);
    /* color:#fff; */
    /* display:flex; */
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
    font-family:'Times New Roman', Times, serif;
  }

  .box2{
    padding:20px;
    /* border-radius:20px; */
    /* border : 3px solid rgba(139, 141, 8, 0.671); */
    /* background-color: rgb(8,141,91,.2); */
    /* color:#fff; */
    /* display:flex; */
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
    font-family:'Times New Roman', Times, serif; */
  }

  body{
    color: rgb(32, 56, 27) !important;
  }


.sidebar-menu {
    list-style-type: none;
    padding: 0;
    align-items:first baseline;
    box-sizing: content-box;

}

.tab-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .grid-container {
    display: grid;
    border: 1px solid rgb(8,141,91);
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    }

    table th{
        font-size: 18px;
    }

    table tr{
        font-size: 16px;
    }

  @media screen and (max-width: 600px) {
  /* body{
    font-size: 10px !important;
    } */
   .main{
    padding: 20px 15px 0px 15px;
   }
   .box{
    padding: 10px;
    background-color: white;
   }
   table th{
        font-size: 8px;
    }

    table tr{
        font-size: 8px;
    }


}

/* #tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px;
    display: inline-block;
}

.hidden {
    display: none;
} */

  /* fontawesome icon 5x */
  .red-text {
        color: red;
    }
  .blue-text {
    color: blue;
  }
  .orange-text{
    color: orange;
  }
  .sidemenu {
  position: relative;
  /* Set a specific width for the container, if needed */
}


#refresh-button {
  position: absolute;
  right: 0;
  /* You can adjust top, bottom, left, and right values to control the icon's position */
}
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    font-size: 24px; 
  }

  #loading-overlay img {
    width: 200px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
  }

  .tab-container {
    width: 60px; /* Set the width of the sidebar according to your design */
    background-color: #f5f5f5; /* Set the background color */
    height: 100%; /* Make the sidebar take the full height of its parent container */
    position: fixed; /* Fix the position of the sidebar */
    display: flex; /* Use flexbox to arrange items vertically */
    flex-direction: column; /* Arrange items vertically */
  }

  .sidebar-menu {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }

  .breadcrumb-item {
    padding: 10px; /* Adjust the padding as needed */
    text-align: center; /* Center the text */
    border-bottom: none; /* Add a border between items */
  }

  .breadcrumb-item:hover {
    background-color: rgb(182, 241, 182); /* Change background color on hover */
  }

  .fas {
    font-size: 20px; /* Adjust the icon size */
  }

  @media(max-width:768px){
    .amb-h{
      font-size: large;
    }
    .amb-d{
      font-size: medium;
    }
    p{
      font-size: x-large;
    }
    
    .p-but{
      font-size:x-small;
    }
  }

  @media(max-width:576px){
    .amb-h{
      font-size: small;
    }
    .amb-d{
      font-size: small;
    }
    p{
      font-size: larger;
    }
    .p-but{
      font-size:xx-small;
    }
  }

</style>

</head>
<body style="font-family: 'Times New Roman', Times, serif;font-size: 14px;" onload="zzz()">
  <div id="loading-overlay">
  <img src="{% static 'img/loaderdark.gif' %}" alt="Loading...">
  </div> 
            <!-- Content Header (Page header) -->
	   <div class="content-header">        
          <p class="amb-h">Heavy Machinery Tracking System 
          </p>

          
          <ol class="breadcrumb" style="float:left; font-size: larger;">            
            <li class="breadcrumb-item" style="color: black; font-size: medium;"><a href="{% url 'dev' %}">Home</a></li>
            <li class="breadcrumb-item" style="color: black; font-size: medium;"><a href="{% url 'mac' %}">Machine</a></li>
            <li class="breadcrumb-item active" style="color: rgb(4, 71, 6);font-family: 'Times New Roman', Times, serif;font-size: medium;">Details</li>
          </ol> 
          <div class="sidemenu">
            <li class="breadcrumb-item" id="refresh-button">
              <i class="fas fa-sync" style="color:black;cursor: pointer; align-items: end;" data-toggle="tooltip" data-placement="top" title="Refresh"></i>
            </li>
            
            </div>
        </div>
  
        <div class="content-header" style="font-size: large;">
          <h1 class="text-center">
              <label class="stat" style="display: block; color: rgb(50, 48, 48); font-family: 'Times New Roman', Times, serif; margin: 2px;">
                  Status of {{vehicle}}
              </label>
          </h1>
        </div>        
        <!-- <marquee direction = "right" scrollamount=12><span style="font-weight: 600; color: rgb(255,196,37); font-size: larger;">Status of {{vehicle}}</span></marquee> -->
        <div class="select-container">
          <label for="pageSelect" style="font-family: 'Times New Roman', Times, serif;font-size: medium;margin-left: 5px;">Select Vehicle:</label>
          <select id="pageSelect" style="font-family: 'Times New Roman', Times, serif;border-radius: 5px;" onchange="redirectToPage(this.value)">
            <option value="" hidden>{{vehicle}}</option>
              <option value="{% url 'viewdetailM' tracker='JIVMOT0001B0001' %}" >BL0183</option>
              <option value="{% url 'viewdetailM' tracker='JIVMOT0002B0002' %}" >SC1823</option>
              <option value="{% url 'viewdetailM' tracker='JIVMOT0003B0003' %}" >PT1945</option>
              <!-- <option value="{% url 'viewdetailM' tracker='JIVMOT0004B0004' %}" >MS0123</option> -->
            </select>  
          </div>      
          
    <div id="row" style="padding-bottom: 2%;padding-left:2%;padding-right:2%">
    <form method="post" style="background:rgba(30, 168, 104, 0.05);">
    {% csrf_token %}

    <div class="row justify-content-center">
      <div class="col-lg-3" style="background:rgb(244, 241, 241);border-radius: 10px; padding-top: 17px; padding-left: 40px; text-align: left;;">
          <span style="font-size: 16px; color: black; font-family: 'Times New Roman', Times, serif;font-weight: bold">
              Machine Type: <span style="color: #652a7e;">{{ty}}</span> &nbsp;&nbsp;
</span>
      </div>

      <div class="col-lg-3" style="background:rgb(244, 241, 241);border-radius: 10px; padding-top: 17px; padding-left: 40px; text-align: left;">
          <span style="font-size: 16px; color: black; font-family: 'Times New Roman', Times, serif;font-weight: bold">
              Last Gateway Status: <span id="timeAgoCell">{{l_com}}</span> &nbsp;&nbsp;
          </span>
      </div>
      <div class="col-lg-3" style="background:rgb(244, 241, 241);border-radius: 10px; padding-top: 17px; padding-left: 40px; text-align: left;">
          <span style="font-size: 16px; color: black; font-family: 'Times New Roman', Times, serif; font-weight: bold">
              Last Machine Run Status: <span id="timeAgoCell1">{{l_on}}</span> &nbsp;&nbsp;
          </span>
      </div>
      <div class="col-lg-3" style="background:rgb(244, 241, 241);border-radius: 10px; padding-top: 17px; padding-left: 40px; text-align: left;">
          <span style="font-size: 16px; color: black; font-family: 'Times New Roman', Times, serif;font-weight: bold">
              Last GPS Address: <span style="color:#652a7e;">{{l_cp}}</span> &nbsp;&nbsp;
          </span>
      </div>
</div>
<div class="mb-4"></div>

          <div class="col-md-4 mx-auto" style="background:rgb(244, 241, 241);border-radius: 10px;padding-top: 10px;" align="center">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend" style="background:rgb(244, 241, 241);">
                            <span class="input-group-text" style="color: black;background: rgb(212, 230, 204);font-family: 'Times New Roman', Times, serif;">Select Date Range: </span>
                        </div>
                        <input type="text" name="datetimes" id="datetimes" class="form-control" style="border: none">
                        <div class="input-group-append">
                          <input id="button" class="btn"  style="font-family: 'Times New Roman', Times, serif; background-color: #2f0c3e;color: #ffffff;font-family: 'Times New Roman', Times, serif;" type="submit" value="Filter" onclick="getInputValue();">
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </form>
    <br>
    <div class="borderexample" align="center" style="background-color:  rgb(244, 241, 241); font-size: larger;font-weight: bold;color: rgb(0, 0, 0);border-radius: 5px; font-family: 'Times New Roman', Times, serif;">
        {{dt}}
        </div>
    </div>
    <div class="main">
      <div class="col-12">
         <div class="box1" style="width:100%; max-height: 100%; max-width: none; background-color:  white; border-radius: 10px;padding: 20px;">
          <!-- <div class="row"> -->
          <!-- <img src="data:image/png;base64,{{grph}}" alt=""> -->
          <h5 style="font-family: 'Times New Roman', Times, serif;">Status of Vehicle Ignition</h5>
          {{grph|safe}}
        <!-- </div> -->
         </div>
      </div> 
    </div>
    <script>
const refreshButton = document.getElementById('refresh-button');

// Add a click event listener to the button
refreshButton.addEventListener('click', function() {
    // Refresh the page when the button is clicked
    location.reload();
});
      function updatecsTextColor() {
      var cells = document.querySelectorAll('#timeAgoCell');

      cells.forEach(function(cell) {
        // Extract the text content and parse it to get the time unit and value
        var text = cell.textContent.trim(); // Remove leading/trailing spaces
        var parts = text.split(' '); // Split the text by spaces
        var value = parseInt(parts[0]); // Parse the numeric value
        var unit = parts[1]; // Get the time unit (e.g., "minutes", "hours", "days", etc.)
        if (text === 'just now' || unit === 'seconds' || unit === 'minute') {
          cell.classList.add('blue-text');
        } else {
          // Check the time unit and set the text color class accordingly
          if (unit === 'minutes' && !isNaN(value) && value <= 10) {
            cell.classList.add('blue-text');
          } else {
            cell.classList.add('red-text');
          }
        }
      });
    }

    // Call the function to update cell text color when the DOM is ready
    document.addEventListener('DOMContentLoaded', updatecsTextColor);

    function updatemsTextColor() {
      var cells = document.querySelectorAll('#timeAgoCell1');

      cells.forEach(function(cell) {
        // Extract the text content and parse it to get the time unit and value
        var text = cell.textContent.trim(); // Remove leading/trailing spaces
        var parts = text.split(' '); // Split the text by spaces
        var value = parseInt(parts[0]); // Parse the numeric value
        var unit = parts[1]; // Get the time unit (e.g., "minutes", "hours", "days", etc.)
        if (text === 'just now' || unit === 'seconds' || unit === 'minute' || unit === 'minutes' || unit === 'hour' || unit === 'hours') {
          cell.classList.add('blue-text');
        } else {
          // Check the time unit and set the text color class accordingly
          if (unit === 'day' && !isNaN(value) && value <= 1) {
            cell.classList.add('blue-text');
          } else {
            cell.classList.add('orange-text');
          }
        }
      });
    }

    // Call the function to update cell text color when the DOM is ready
    document.addEventListener('DOMContentLoaded', updatemsTextColor);

    function zzz() {
        // Disable clickable elements
        disableClickableElements();

        // Simulate a delay (replace this with your actual content loading logic)
        setTimeout(function () {
          // Enable clickable elements
          enableClickableElements();

          // Hide the loading overlay
          document.getElementById('loading-overlay').style.display = 'none';
        }, 2000); // Adjust the delay as needed
      }

      function disableClickableElements() {
        // Add logic to disable clickable elements (icons, buttons, etc.)
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'none';
        });
      }

      function enableClickableElements() {
        // Add logic to enable clickable elements
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'auto';
        });
      }



    </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</body>
</html>
{% include 'footer.html' %}