{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VehicleStatus</title>
   <!-- DataTables -->
   <link rel="stylesheet" href="{% static 'demo/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
   <link rel="stylesheet" href="{% static 'demo/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
 
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'demo/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
  <!-- jQuery -->
  <script src="{% static 'demo/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'demo/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'demo/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'demo/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'demo/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'demo/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- AdminLTE -->
<script src="{% static 'js/adminlte.js' %}"></script>
<!------CanvasJS for Chart-------------->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- ChartJS -->
<script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'demo/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
<script src="{% static 'js/pages/dashboard3.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'js/demo.js' %}"></script>
 <!-- REQUIRED SCRIPTS -->
 <script src="{% static 'demo/ckeditor/ckeditor.js' %}"></script>

 <script>
    $(function () {
      setTimeout(function() {
        window.location.href = "/Gateway/login_auth/?next=/Gateway/";
    }, 15*60*1000);
  
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });

 function redirectToPage(selectedValue) {
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        }
    function refreshPage() {
        location.reload(); // Refresh the page
    }
  </script>

  <style>
    #loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8); 
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999; 
      font-size: 24px; 
    }

    #loading-overlay img {
      width: 200px; /* Adjust the size as needed */
      height: 150px; /* Adjust the size as needed */
    }

    p {
      color: white;
      text-align: center;
      background-color: #003470;
      font-style:normal;
      font-family: 'Times New Roman', Times, serif;
      font-size: xx-large;
      font-variant: small-caps;
    }

    img{
      max-width:55%;
    max-height:55%;
    }

    .select-container {
      text-align: left;
      margin-top: 20px;
    }
    .select-label {
        display: inline-block;
        margin-right: 10px;
    }
    .select-dropdown {
        display: inline-block;
    }	

    label:not(.form-check-label):not(.custom-file-label) {
      font-weight: 400;
      font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }

    .amb-h{
      font-size: larger;
    }

    .amb-d{
      font-size: medium;
    }

    .p-but{
      font-size:small;
    }

    @media(max-width:768px){
      .amb-h{
        font-size: large;
      }
    
      p{
        font-size: x-large;
      }
      
      .p-but{
        font-size:x-small;
      }
    }

    @media(max-width:576px){
      .amb-h{
        font-size: small;
      }
      .amb-d{
        font-size: small;
      }
      p{
        font-size: larger;
      }
      .p-but{
        font-size:xx-small;
      }
    }

</style>

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	
	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">     
</head>
<body onload="zzz()">
  <div id="loading-overlay">
    <img src="{% static 'img/loaderdark.gif' %}" alt="Loading...">
  </div>
  <div class="content-header" align="center">
    <p>Status Details
      <button onclick="refreshPage()" class="mt-sm-2 mt-xs-1 mr-3 p-but" style="float:right;background-color: #fafbfc; font-style: italic;box-sizing: inherit; font-family: Arial, Helvetica, sans-serif;"><li class="fa fa-refresh"></li></button></span>
    </p>
    <!-- <div style="display: inline-block;"> -->
    <!--<label class="breadcrumb" style="float: left; font-family: 'Times New Roman', Times, serif; font-size: small; margin-left:5px;">{{Customer.vehicle}}</label>  -->
    <ol class="breadcrumb amb-d" style="float:right;">
      <li class="breadcrumb-item"><a href="{% url 'dev' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'amb' %}">Ambulance</a></li>
      <li class="breadcrumb-item active" style="color: teal;">Live</li>
    </ol>
    <!-- </div> -->
    <div class="select-container">
      <label class="amb-d" for="pageSelect">Select Vehicle:</label>
      <select id="pageSelect" onchange="redirectToPage(this.value)">
          <option value=" ">Select</option>
          <!-- <option value="{% url 'viewlive' tracker='JIVMOT0005B0005' %}">EECO - OD 67 1029</option> -->
          <option value=" {% url 'viewlive' tracker='JIVMOT0003B0003' %}">Bolero - OD 02 0987</option>
          <option value=" {% url 'viewlive' tracker='JIVMOT0001B0001' %} ">Tavera - OD 01 1234</option>
        </select>  
    </div>          
            
  </div>
  <div class="amb-h"> <label class="breadcrumb-item" style="display: block;color : rgb(43, 81, 159); text-align: center; font-family: Arial, Helvetica, sans-serif;  margin: 5px ;">Status Details For Vehicle: {{Customer.vehicle}}</label></div>

  <!-- <div id="row" style="padding-bottom: 2%;padding-left:2%;padding-right:2%">
    <table style="width: 100%; background-image:linear-gradient(#ececec, #ffffff, #ececec);" class="table table-bordered ">
      <tr>
        <td>
        <div id="row" style="line-height: 20px;padding-top:1%; width: 100%;">
        <div class="col-sm-6" style="float: left; padding: 2%;">
          
        <div class="card-body table-responsive" style="width:100%;height:100%;"> -->
  <section>
    <div class="container-fluid">
      <div class="row m-3">
        <div class="col-lg-6">
          <label style="font: bold; color: rgb(199, 3, 3);" class="amb-h">Location&nbsp;&nbsp;<span style="color:black" class="amb-d">-&nbsp;&nbsp;({{Location.lat}}, {{Location.lon}})</span></label><br>
          <label class="amb-d">Address :</label>&nbsp;&nbsp;<label class="amb-d">{{Loc.f_a}}</label><br>
          <label class="amb-d">Date & Time :</label>&nbsp;&nbsp;<label class="amb-d">{{Location.dt}}</label>
          <div class="row justify-content-center mt-lg-3">
            {{folium.map|safe}}
          </div>       
        </div>
        <div class="col-lg-6">
          <label style="color: rgb(199, 3, 3);" class="amb-h">Oxygen Detail</label><br>
          <label class="amb-d">Weight In Percentage :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="color: red;" class="amb-d">{{Customer.Olevel}} %</label><br>
          <label class="amb-d">Last Update :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="color: green;" class="amb-d">{{Location.t_a}}</label>
          <div class="row justify-content-center mb-5 pb-5">
            <img src="{%static 'img/ldv1.png' %}" alt="cylinder" >
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    function zzz() {
      // Disable clickable elements
      disableClickableElements();

      // Simulate a delay (replace this with your actual content loading logic)
      setTimeout(function () {
        // Enable clickable elements
        enableClickableElements();

        // Hide the loading overlay
        document.getElementById('loading-overlay').style.display = 'none';
      }, 2000); // Adjust the delay as needed
    }

    function disableClickableElements() {
      // Add logic to disable clickable elements (icons, buttons, etc.)
      var clickableElements = document.querySelectorAll('.clickable');
      clickableElements.forEach(function (element) {
        element.style.pointerEvents = 'none';
      });
    }

    function enableClickableElements() {
      // Add logic to enable clickable elements
      var clickableElements = document.querySelectorAll('.clickable');
      clickableElements.forEach(function (element) {
        element.style.pointerEvents = 'auto';
      });
    }
  </script>
          
</body>
</html>
{% include 'footer.html' %}
